﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.ManageCurrencyModel


<form action="/Currency" method="get" class="m-form m-form--fit">
    @Html.HiddenFor(m => m.SearchExec)

    <div class="m-portlet__body">
        <div class="form-group row">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control form-control-sm m-input", placeholder = ManagerResource.LB_KEYWORD_SEARCH })
            </div>

            <div class="col-md-6">
                <select class="form-control form-control-sm selectpicker" id="@Html.IdFor(m=>m.Status)" name="@Html.NameFor(m=>m.Status)">
                    <option value="-1">
                        @ManagerResource.LB_ALL
                    </option>
                    <option value="1" @(Model.Status == 1 ? "selected" : string.Empty)>
                        @ManagerResource.LB_ACTIVATED
                    </option>
                    <option value="0" @(Model.Status == 0 ? "selected" : string.Empty)>
                        @ManagerResource.LB_LOCKED
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i> @ManagerResource.LB_SEARCH
                </button>
            </div>
        </div>
    </div>
</form>