﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.CurrencyUpdateModel

@Html.AntiForgeryToken()

<div class="m-portlet__body">
    <div class="form-group m-form__group row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-3">
            @Html.LabelFor(m => m.Code, new { @class = "form-control-label" })
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-3">
            @Html.LabelFor(m => m.SortOrder, new { @class = "form-control-label" })
            @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control", @type = "number" })
            @Html.ValidationMessageFor(m => m.SortOrder, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">
            <label></label>
            <div class="m-checkbox-inline">
                <label class="m-checkbox">
                    <input name="@Html.NameFor(m => m.Status)" @(Model.Status == 1 ? "checked" : string.Empty) value="1" type="checkbox">
                    @ManagerResource.LB_ACTIVE
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-6">
            <button type="submit" class="btn btn-info btn-sm">
                <i class="fa fa-floppy-o"></i> @ManagerResource.LB_SAVE
            </button>
            <a class="btn btn-outline-info btn-sm" href="@Url.Action("Index", "Currency")"><i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL</a>
        </div>
    </div>
</div>