﻿@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.CurrencyUpdateModel

@{ 
    ViewBag.Title = ManagerResource.LB_UPDATE_INFO;    
}

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-edit text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ManagerResource.LB_UPDATE_INFO
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Edit", "Currency", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form" }))
            {
@Html.Partial("_UpdateForm", Model)}
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PagePluginStyles
{

}

@section PagePluginScripts
 {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}