﻿@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@using Manager.WebApp.Helpers
@model Manager.WebApp.Models.UserDetailsViewModel

@{
    ViewBag.Title = "User Details";
}

@if(Model != null)
{
    if(Model.User != null)
    {
        @RenderUserInfo()
    }
}

@helper RenderUserInfo()
    {
        var avatarObj = Model.Claims.FirstOrDefault(x => x.Type == ClaimKeys.Avatar);
        var avatarUrl = string.Empty;
        if (avatarObj != null)
        {
            if (!string.IsNullOrEmpty(avatarObj.Value))
            {
                avatarUrl = avatarObj.Value;
            }
        }

        if (string.IsNullOrEmpty(avatarUrl))
        {
           avatarUrl = "/assets/app/media/img/users/default-avatar.jpg";
        }

        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="m-portlet m-portlet--full-height  ">
                    <div class="m-portlet__body">
                        <div class="m-card-profile">
                            <div class="m-card-profile__pic">
                                <div class="m-card-profile__pic-wrapper">
                                    <img src="@avatarUrl" alt="">

                                </div>
                            </div>
                            <div class="m-card-profile__details">
                                <span class="m-card-profile__name">@Model.User.UserName</span>
                                @*<a href="" class="m-card-profile__email m-link">@Model.User.Email</a>*@
                            </div>
                        </div>
                        

                        <div class="m-portlet__body-separator"></div>

                        @*<div class="m-widget1 m-widget1--paddingless">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Member Profit</h3>
                                        <span class="m-widget1__desc">Awerage Weekly Profit</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand">+$17,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Orders</h3>
                                        <span class="m-widget1__desc">Weekly Customer Orders</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger">+1,800</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Issue Reports</h3>
                                        <span class="m-widget1__desc">System bugs and issues</span>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-success">-27,49%</span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--info" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                        <i class="flaticon-share m--hide"></i>
                                        @ManagerResource.LB_PROFILE
                                    </a>
                                </li>
                                @*<li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                        Messages
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                        Settings
                                    </a>
                                </li>*@
                            </ul>
                        </div>                        
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_user_profile_tab_1">
                            <div class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_FULL_NAME</label>
                                        <div class="col-7">
                                            <input class="form-control m-input" type="text" disabled value="@Model.FullName">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_STATUS</label>
                                        <div class="col-7">
                                              @if (Model.Lockout.Status == LockoutStatus.Locked)
                                                {
                                                    using (Html.BeginForm("Unlock", "UsersAdmin", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
                                                    {
                                                        @Html.Hidden("id", Model.User.Id)                                                        
                                                        <b class="text-danger"><i class="fa fa-lock bigger-120"></i> @ManagerResource.LB_ACCOUNT_LOCKED</b>
                                                        <button class="btn btn-sm btn-info" type="submit"><i class="fa fa-unlock"></i> @ManagerResource.LB_UNLOCK !</button>
                                                    }
                                                }
                                                else
                                                {
                                                    using (Html.BeginForm("Lock", "UsersAdmin", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
                                                    {
                                                        @Html.Hidden("id", Model.User.Id)                                                        
                                                        <b class="text-info"><i class="fa fa-unlock bigger-120"></i> @ManagerResource.LB_ACCOUNT_NOT_LOCKED</b>
                                                        <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-lock"></i>  @ManagerResource.LB_LOCK !</button>
                                                    }
                                                }
                                        </div>
                                    </div>                                   
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_CREATED_DATE</label>
                                        <div class="col-7">
                                            <input class="form-control m-input" type="text" disabled value="@Model.User.CreatedDateUtc.ToLocalTime()">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-text-input" class="col-2 col-form-label">@ManagerResource.LB_ROLES_ASSIGNED</label>
                                        <div class="col-7">
                                            @if (ViewBag.RoleNames.Count > 0)
                                            {
                                               <div class="m-list-badge m-list-badge--light-bg" style="padding:5px;">	
												<div class="m-list-badge__items">
                                                    @foreach (var item in ViewBag.RoleNames)
                                                    {
                                                        <span class="m-list-badge__item">
														    @item
													    </span>
                                                    }													
												</div>
											</div>
                                            }                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <div class="row">
                                            <div class="col-2">
                                            </div>
                                            <div class="col-7">
                                                <a class="btn btn-outline-info btn-back btn-sm" href="@Url.Action("Index", "UsersAdmin", new {SearchExec = 'Y', Page = Model.Page, Email = Model.Email, RoleId = Model.RoleId, IsLocked = Model.IsLocked })"><i class="fa fa-backward"></i> @ManagerResource.LB_GOBACK</a>
                                                <a class="btn btn-info m-btn m-btn--icon btn-sm" href="@Url.Action("Edit", "UsersAdmin", new { id = Model.User.Id, SearchExec = 'Y', Page = Model.Page, Email = Model.Email, RoleId = Model.RoleId, IsLocked = Model.IsLocked })"><i class="la la-pencil"></i> @ManagerResource.LB_EDIT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

