﻿@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.EditUserViewModel

@{
    ViewBag.Title = ManagerResource.LB_USER_EDIT;
}

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

<div class="row">
    <div class="col-lg-12 col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title" style="width:100%">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ManagerResource.LB_USER_EDIT
                        </h3>
                        <a class="btn btn-danger btn-sm pull-right mt-2" href="javascript:;" data-href="@Url.Action("ResetPassword", "UsersAdmin", new { id = Model.Id })" data-modal=""><i class="fa fa-refresh"></i> @ManagerResource.LB_RESET_PASSWORD</a>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Edit", "UsersAdmin", FormMethod.Post, new { role = "form", @class = "m-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="m-portlet__body">
                    <div class="m-form">
                        <div class="row">
                            <div class="col-md-12 required-input">
                                @ManagerResource.LB_REQUIRED_INFORMATION
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UserName) <span class="required-input">*</span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FullName) <span class="required-input">*</span>
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="m-form__group form-group">
                            <label for="">
                                @ManagerResource.LB_ROLES_ASSIGNED:
                            </label>
                            <div class="m-radio-inline">
                                @if (Model != null && Model.RolesList != null && Model.RolesList.Count() > 0)
                                {
                                    foreach (var item in Model.RolesList)
                                    {
                                        var selected = false;
                                        if (Model.Role == item.Value)
                                        {
                                            selected = true;
                                        }
                                        <label class="m-radio">
                                            <input type="radio" name="Role" value="@item.Value" checked="@selected">
                                            @item.Text
                                            <span></span>
                                        </label>
                                    }
                                }
                            </div>
                            @*<div class="m-checkbox-inline">
                @if (Model.RolesList != null && Model.RolesList.Count() > 0)
                {
                    var isAdmin = AccountHelper.CurrentUserIsAdmin();
                    foreach (var item in Model.RolesList)
                    {
                        if (item.Value.ToLower() == "admin")
                        {
                            <label class="m-checkbox" style="@((!isAdmin)? "color:#ccc" : string.Empty)">
                                <input type="checkbox" value="@item.Value" name="SelectedRole" checked="@item.Selected" @((!isAdmin) ? "disabled" : string.Empty)>
                                @item.Value
                                <span></span>
                            </label>
                        }
                        else
                        {
                            <label class="m-checkbox">
                                <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected">
                                @item.Value
                                <span></span>
                            </label>
                        }
                    }
                }
            </div>*@
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-12">
                                <label for="example-text-input" class="">@ManagerResource.LB_STATUS</label>
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input type="checkbox" @(Model.IsActived ? "checked" : string.Empty) name="@Html.NameFor(m=>m.IsActived)" value="true">
                                        @ManagerResource.LB_ACTIVATED
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="m-form__group form-group row">
                            <div class="col-md-12">
                                <label for="">
                                    @ManagerResource.LB_MANAGEMENT_ASSIGNED_COMPANIES
                                </label>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot">
                    <div class="pt-3 row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-info btn-sm">
                                <i class="fa fa-download"></i> @ManagerResource.LB_SAVE
                            </button>
                            <a class="btn btn-outline-info btn-back btn-sm" href="@Url.Action("Index", "UsersAdmin", new { SearchExec = 'Y', Page = Model.Page, Email = Model.SEmail, RoleId = Model.SRoleId, IsLocked = Model.SIsLocked })"><i class="fa fa-backward"></i> @ManagerResource.LB_GOBACK</a>
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>

</div>

@section PagePluginStyles
{

}

@section PagePluginScripts
 {

}


