﻿@{
    //Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Error";
}


<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            500 Internal server error
        </h1>

        <hr />
        <h3 class="lighter smaller">An error occured!</h3>

        <div>            
            <div class="space"></div>
            <h4 class="smaller">Try one of the following:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Contact to administrator
                </li>
                
                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Try to use this function later
                </li>
            </ul>
        </div>

        <hr />
        <div class="space"></div>

        <div class="center">
            @*<a href="javascript:history.back()" class="btn btn-grey">
                <i class="ace-icon fa fa-arrow-left"></i>
                Go Back
            </a>*@

            <a href="@Url.Action("Index","Home")" class="btn btn-info">
                <i class="ace-icon fa fa-tachometer"></i>
                Dashboard
            </a>
        </div>
    </div>
</div>