﻿@model System.Web.Mvc.HandleErrorInfo

@{
    //Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Error";
}

<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--space">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <i class="ace-icon fa fa-random"></i>
                        500
                        Something Went Wrong
                    </h3>
                </div>
            </div>
            
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="error-container">
                        <div class="well">
                            <h1 class="grey lighter smaller">
                               
                            </h1>

                            <hr />
                            <h4 class="lighter smaller">
                                But we are working
                                <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
                                on it!
                            </h4>

                            <div class="space"></div>

                            <div>
                                <h4 class="lighter smaller">Meanwhile, try one of the following:</h4>

                                <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                    <li>
                                        <i class="ace-icon fa fa-hand-o-right blue"></i>
                                        Read the faq
                                    </li>

                                    <li>
                                        <i class="ace-icon fa fa-hand-o-right blue"></i>
                                        Give us more info on how this specific error occurred!
                                    </li>
                                </ul>
                            </div>

                            <hr />
                            <div class="space"></div>

                            <div>
                                An internal error has occurred.
                                @if (Model != null && Model.Exception != null && HttpContext.Current.IsDebuggingEnabled)
                                {
                                    <div>
                                        <p>
                                            <b>Controller:</b> @Model.ControllerName <br />
                                            <b>Action:</b> @Model.ActionName<br />
                                            <b>Exception:</b> @Model.Exception.Message<br />
                                        </p>
                                        <div style="overflow:scroll">
                                            <pre>
                                @Model.Exception.StackTrace
                                </pre>
                                        </div>
                                    </div>
                                }
                            </div>

                            <br/>
                            <div class="center">
                                <a href="javascript:history.back()" class="btn btn-secondary">
                                    <i class="la la-backward"></i>
                                    Go Back
                                </a>

                                <a href="@Url.Action("Index","Home")" class="btn btn-info">
                                    <i class="ace-icon fa fa-home"></i>
                                    Dashboard
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Portlet-->
</div>