﻿@using Manager.WebApp.Resources
@{
    //Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = ManagerResource.ERROR_PERMISSION_DENNIED;
}


<!--begin::Portlet-->
<div class="m-portlet m-portlet--space">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-tabs-content" id="m_sections">
                    <!--begin::Section 1-->
                    <div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
                        <div class="m-accordion m-accordion--section m-accordion--padding-lg" id="m_section_1_content">
                            <!--begin::Item-->
                            <div class="m-accordion__item">
                                <div class="error-container">
                                    <div class="well">
                                        <h1 class="text-danger lighter smaller">
                                            <span class="blue bigger-125">
                                                <i class="ace-icon fa fa-sitemap fz-30"></i>
                                                401
                                            </span>
                                            @ManagerResource.ERROR_PERMISSION_DENNIED
                                        </h1>

                                        <hr />
                                        <div>
                                            <div class="space"></div>
                                            <h4 class="smaller">@ManagerResource.LB_TRY_ONE_FOLLOWING:</h4>

                                            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                                <li>
                                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                                    @ManagerResource.LB_CHECK_YOUR_PEMISSIONS
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                                    @ManagerResource.LB_CHECK_VALID_LINK
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                                    @ManagerResource.LB_TELL_ADMIN_ABOUTIT
                                                </li>
                                            </ul>
                                        </div>

                                        <hr />
                                        <div class="space"></div>

                                        <div class="center">
                                            @*<a href="javascript:history.back()" class="btn btn-danger">
                                                <i class="la la-backward"></i>
                                                @ManagerResource.LB_GOBACK
                                            </a>*@

                                            <a href="@Url.Action("Index","Home")" class="btn btn-info">
                                                <i class="ace-icon fa fa-home"></i>
                                                @ManagerResource.LB_DASHBOARD
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                        </div>
                    </div>
                    <!--begin::Section 1-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
