﻿@using Manager.DataLayer.Entities
@using Manager.WebApp.Resources
@model Manager.WebApp.Models.NavigationViewModels

@{
//ViewBag.Title = "Quản lý menu";
}

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_LargeModal")

@section PagePluginStyles{

}
@section PageInlineStyles{
    <link href="~/Scripts/Plugins/Nestable/jquery.nestable.css" rel="stylesheet" />
    <style type="text/css">
        .dd {
            max-width: 100% !important;
        }

        .btn-yellow{background-color:#5db367;color:#fff;}

        .dd-handle:hover{
            color: #2ea8e5;
        }

        .dd-handle:hover .action-buttons a{
            color: #2ea8e5 !important;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <div class="pull-left btn-yellow" style="width: 20px;height:20px;"></div>
            <div class="pull-left"> &nbsp;@ManagerResource.LB_HIDDEN</div>
        </div>
        <div class="pull-right" id="nestable-menu">
            <button type="button" class="btn btn-info btn-sm" onclick="Create(0);">Tạo menu cha</button>
            <button type="button" class="btn btn-info btn-sm" data-action="expand-all">Mở rộng</button>
            <button type="button" class="btn btn-info btn-sm" data-action="collapse-all">Thu lại</button>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <input type="hidden" id="nestable-output" />
        <div class="dd" id="nestable">
            @RenderNavigation(Model.AllNavigations)
        </div>
    </div>
    <div class="vspace-16-sm"></div>
</div>

@helper RenderNavigation(List<IdentityNavigation> menuItems)
{
    if (menuItems != null && menuItems.Count > 0)
    {
        <ol class="dd-list">
            @foreach (var item in menuItems)
            {
                //var link = string.Format("/{0}/{1}", item.Controller, item.Action);
                //if (link == "//")
                //{
                //    link = string.Empty;
                //}

                var link = item.AbsoluteUri;
                if (item.ParentId == 0)
                {
                    <li class="dd-item item-orange" data-id="@item.Id">
                        <div class="dd-handle @((!item.Visible) ? " btn-yellow no-hover" : "")">
                            <span><i class="@item.IconCss"></i> @item.Title</span>
                            <div class="pull-right action-buttons dd-nodrag">
                                <a href="@link" target="_blank" style="color:#212121; padding-right:10px">
                                    @link
                                </a>
                                <a class="main-color" href="javascript:;" data-content="@item.Controller" onclick="ShowMenuLang(@item.Id);" title="@ManagerResource.LB_MULTI_LANGUAGES">
                                    <i class="ace-icon fa fa-language bigger-130" data-id="@item.Id"></i>
                                </a>
                                <a class="main-color" href="javascript:;" data-content="@item.Controller" onclick="Create(@item.Id);" title="@ManagerResource.LB_ADD_NEW">
                                    <i class="ace-icon fa fa-plus bigger-130" data-id="@item.Id"></i>
                                </a>
                                <a class="main-color" href="javascript:;" onclick="Update(@item.Id);" title="@ManagerResource.LB_EDIT">
                                    <i class="ace-icon fa fa-pencil bigger-130" data-id="@item.Id"></i>
                                </a>

                                <a class="main-color btn-delete" href="@Url.Action("PopupDelete", "Navigation", new { id = item.Id })" data-modal="" title="@ManagerResource.LB_DELETE">
                                    <i class="ace-icon fa fa-trash-o bigger-130" data-id="@item.Id"></i>
                                </a>
                            </div>
                        </div>
                        @GetSubNavigations(menuItems, item.Id)
                    </li>
                }
            }
        </ol>
    }
}

@helper GetSubNavigations(List<IdentityNavigation> menuItems, int id)
{
    <ol class="dd-list">
        @foreach (var item in menuItems)
        {
            //var link = string.Format("/{0}/{1}", item.Controller, item.Action);
            //if (link == "//")
            //{
            //    link = string.Empty;
            //}
            var link = item.AbsoluteUri;

            if (item.ParentId == id)
            {
                <li class="dd-item" data-id="@item.Id">
                    <div class="dd-handle @((!item.Visible) ? " btn-yellow no-hover" : "")">
                        <span>@item.Title</span>
                        <div class="pull-right action-buttons dd-nodrag">
                            <a href="@link" target="_blank" style="color:#212121; padding-right:10px">
                                @link
                            </a>
                            <a class="main-color" href="#" data-content="@item.Controller" onclick="ShowMenuLang(@item.Id);" title="@ManagerResource.LB_MULTI_LANGUAGES">
                                <i class="ace-icon fa fa-language bigger-130" data-id="@item.Id"></i>
                            </a>
                            <a class="main-color" href="javascript:;" data-content="@item.Controller" onclick="Create(@item.Id);" title="@ManagerResource.LB_ADD_NEW">
                                <i class="ace-icon fa fa-plus bigger-130" data-id="@item.Id"></i>
                            </a>
                            <a class="main-color" href="javascript:;" onclick="Update(@item.Id);" title="@ManagerResource.LB_EDIT">
                                <i class="ace-icon fa fa-pencil bigger-130" data-id="@item.Id"></i>
                            </a>

                            <a class="main-color btn-delete" href="@Url.Action("PopupDelete", "Navigation", new { id = item.Id })" title="@ManagerResource.LB_DELETE" data-modal="">
                                <i class="ace-icon fa fa-trash-o bigger-130" data-id="@item.Id"></i>
                            </a>
                        </div>
                    </div>
                    @GetSubNavigations(menuItems, item.Id)
                </li>
            }
        }
    </ol>
}

@section PagePluginScripts{
    @*<link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />
        <script src="~/assets/js/bootstrap-select.js"></script>*@
    <script src="~/Scripts/Plugins/Nestable/jquery.nestable.js"></script>
}


@section PageInlineScripts{
    <script>
        function ResetForm() {
            $(".dd-item").each(function () {
                if ($(this).find(".dd-list").children().length == 0) {
                    $(this).find("[data-action='collapse']").hide();
                    $(this).find("[data-action='expand']").hide();
                }
                else {
                    $(this).find(".dd-handle").first().find(".btn-delete").hide();
                }
            });
        }

        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            // activate Nestable for list 1
            $('#nestable').nestable({
                group: 1
            })
                .on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));

            ResetForm();

            $('#nestable-menu').on('click', function (e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                    ResetForm();
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                    ResetForm();
                }
            });

            $('.dd').on('change', function () {
                $("#load").show();
                // output initial serialised data
                updateOutput($('#nestable').data('output', $('#nestable-output')));

                var dataString = {
                    data: $("#nestable-output").val(),
                };

                $.ajax({
                    type: "POST",
                    url: "Navigation/UpdateSorting",
                    data: dataString,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                    }, error: function (xhr, status, error) {
                        alert(error);
                    },
                });
            });
        });
    </script>

    <script>
        function Create(parentid) {
            $.ajax({
                url: 'Navigation/Create',
                data: {
                    parentid: parentid
                },
                success: function (result) {
                    if (result) {
                        $("#myModalContent").html(result);
                        $('body').addClass('modal-open');
                        $('.modal-backdrop').show();
                        $('#myModal').modal('show');
                        $('.selectpicker').selectpicker({ style: "btn-default" });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var responseTitle = "Error encountered"
                    $.showErrorMessage('Error message', $(responseTitle).text() + "\n" + formatErrorMessage(jqXHR, errorThrown), function () { });
                }
            });
        }

        function ShowMenuLang(id) {
            $.ajax({
                url: 'Navigation/ShowMenuLang',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result) {
                        $("#myModalContent").html(result);
                        $('body').addClass('modal-open');
                        $('.modal-backdrop').show();
                        $('#myModal').modal('show');
                        $('.selectpicker').selectpicker({ style: "btn-default" });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var responseTitle = "Error encountered"
                    $.showErrorMessage('Error message', $(responseTitle).text() + "\n" + formatErrorMessage(jqXHR, errorThrown), function () { });
                }
            });
        }

        function Update(id) {
            $.ajax({
                url: 'Navigation/Update',
                data: {
                    id: id
                },
                success: function (result) {
                    if (result) {
                        $("#myModalContent").html(result);
                        $('body').addClass('modal-open');
                        $('.modal-backdrop').show();
                        $('#myModal').modal('show');
                        $('.selectpicker').selectpicker({ style: "btn-default" });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var responseTitle = "Error encountered"
                    $.showErrorMessage('Error message', $(responseTitle).text() + "\n" + formatErrorMessage(jqXHR, errorThrown), function () { });
                }
            });
        }
    </script>
}
