﻿@using Manager.WebApp.Resources;
@using Manager.SharedLibs
@*@using Manager.DataLayer.Entities*@
@model Manager.WebApp.Models.ManageBankAccountModel

@{
    var title = @ManagerResource.BT_ADD;
    ViewBag.Title = title;
    //var countries = HelperPlace.GetListCountry();
}


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        @ManagerResource.BT_ADD
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>

@using (Html.BeginForm("EditBankAccount", "AdminProfile", FormMethod.Post, new { role = "form" }))
{
    <div class="modal-body" data-size="full">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-12">
                    <label>銀行口座</label><span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-12">
                    <label>銀行支店名</label><span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.Bank, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Bank, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-4">
                    <label>口座種別</label>
                    <select class="form-control bs-select select2-single" data-live-search="true" data-size="8" id="@Html.IdFor(m => m.TypeId)" name="@Html.NameFor(m => m.TypeId)">

                        @if (Model.BankTypes.HasData())
                        {
                            foreach (var item in Model.BankTypes)
                            {
                                var chkStr = string.Empty;
                                if (item.Id == Model.TypeId)
                                {
                                    chkStr = "selected";
                                }
                                <option @chkStr value="@item.Id">@item.Name</option>
                            }
                        }
                        else
                        {
                            <option value="0">口座種別を選択してください。</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-12">
                    <label>口座番号</label><span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-12">
                    <label>口座名義</label><span class="text-danger">*</span>
                    @Html.TextBoxFor(m => m.Owner, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Owner, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-info btn-sm ">
                        <i class="fa fa-download"></i>  @ManagerResource.LB_SAVE
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm mr-auto" data-dismiss="modal">
                        <i class="fa fa-remove"></i> @ManagerResource.BT_CANCEL
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section PageInlineStyles{

}

@section PagePluginScripts
{

}
