﻿@using Manager.WebApp.Resources
@using System.Globalization
@using Manager.SharedLibs

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        @ManagerResource.LB_TERMS_AND_CONDITIONS;
    </title>
    <link rel="shortcut icon" href="~/Content/images/favicon-32x32.png" />
    <link rel="shortcut icon" href="~/Content/images/favicon-32x32.png" type="image/x-icon">

    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link href="@Url.VersionedContent("~/Content/Site.css")" rel="stylesheet">
    <style>
        .login-error-state {
            border: 1px solid #f4516c !important;
            padding: 10px 0px 10px 0px;
            border-radius: 30px;
        }

            .login-error-state ul {
                margin: 0
            }

        @@media (max-width: 1024px) {
            .m-header--fixed-mobile .m-topbar {
                margin-top: 0;
                top: 0px;
            }
        }

        html,
        body {
            font-size: 12.5px !important;
            line-height: 1.3vw;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        .section-container {
            padding: 0 calc(50% - 625px + 10.5rem);
        }

        .entry-content table {
            width: 100%;
        }

            .entry-content table tr:nth-child(1) td {
                text-align: center;
                background-color: #d4d4d3 !important;
            }

        .entry-content table {
            border-collapse: collapse;
        }

        .entry-content table, th, td {
            border: solid 1px black;
        }

        .grid-item-9 table th, td {
            padding: 0.5rem 1rem;
        }

        .grid-container {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: row;
            margin: 0 -1.6rem;
            flex-wrap: wrap;
        }

        [class*="grid-item-"] {
            width: calc(100%*1/12 - 3.2rem);
            margin: 0 1.6rem;
        }

        .grid-item-9 {
            width: 100%
        }
    </style>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div id="m_header_topbar" class="m-topbar text-right" style="height:auto;padding-right:4%;display:none;">
        @{
            var langList = LanguagesProvider.GetListLanguages();
            var currentLang = CultureInfo.CurrentCulture.ToString();

            <div class="m-stack__item m-topbar__nav-wrapper">
                <ul class="m-topbar__nav m-nav m-nav--inline">
                    @if (langList.HasData())
                    {
                        var currentLangInfo = langList.FirstOrDefault(s => s.LanguageCultureName == currentLang);

                        if (currentLangInfo != null)
                        {
                            <li class="m-nav__item m-nav__item--accent m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1" aria-expanded="true">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <span class="m-nav__link-icon">
                                        <span class="m-nav__link-icon-wrapper" title="@currentLangInfo.LanguageFullName">
                                            <img class="image-lang" src="~/Content/images/flags/@(currentLangInfo.LanguageCultureName).png" />
                                        </span>
                                    </span>
                                </a>
                                <div class="m-dropdown__wrapper dropdown-custom">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-menu__subnav">

                                                    @foreach (var item in langList)
                                                    {
                                                        <li class="m-menu__item @((currentLang == item.LanguageCultureName) ? "m-menu__item--active" : string.Empty)" aria-haspopup="true">
                                                            <a href="~/home/changelanguage?lang=@item.LanguageCultureName" class="m-menu__link " style="display:flex">
                                                                <div class="m-menu__link-icon" style="width:30px">
                                                                    <img class="image-lang" src="~/Content/images/flags/@(item.LanguageCultureName).png" />
                                                                </div>
                                                                <span class="m-menu__link-text" style="padding-left:10px">
                                                                    @{
                                                                        var array = item.LanguageCultureName.Split('-');
                                                                        if (array.Length == 2)
                                                                        {
                                                                            @array[1];
                                                                        }
                                                                    }
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    </div>

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2 mt0" id="m_login">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper" style="padding-top: 0;">
                <main id="primary" class="site-main faq">
                    <div class="section-container">

                        <div class="grid-container">

                            <div class="grid-item-9">

                                <article id="post-660" class="post-660 faq type-faq status-publish hentry">
                                    <div class="entry-content new-entry-content">
                                        <p style="text-align: center;">
                                            <strong>Nihon Work </strong><strong>
                                                利用規約<br>
                                                （利用申込書/変更申込書/解約申込書）
                                            </strong>
                                        </p>
                                        <p style="text-align: center;"><strong>&nbsp;</strong></p>
                                        <p style="text-align: center;"><strong>‐ベトナム人材の職業紹介支援ASPサービス‐</strong></p>
                                        <p style="text-align: center;"><strong>&nbsp;</strong></p>
                                        <p>&nbsp;</p>
                                        <p style="text-align: center;"><strong>利　用　規　約</strong></p>
                                        <p>&nbsp;</p>
                                        <p>第１章　総則</p>
                                        <p>（利用規約の適用）</p>
                                        <p>第１条　当社は、この利用規約（以下単に「利用規約」といいます。）に基づき、本サービスを提供します。</p>
                                        <p>２．利用規約と個別の利用契約の規定が異なるときは、個別の利用契約の規定が利用規約に優先して適用されるものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（定義）</p>
                                        <p>第２条　利用規約においては、次の用語はそれぞれ次の意味で使用します。</p>
                                        <ul>
                                            <li>　本サービス　利用規約に基づき当社がアプリケーション・サービス・プロバイダとして契約者に提供する<a href="https://intro.nihon-work.com/faq/%e5%88%a9%e7%94%a8%e8%a6%8f%e7%b4%84#_Hlk88448575">別紙B</a>所定のベトナム人材の職業紹介支援サービス</li>
                                            <li>　契約者　　利用規約に基づく利用契約を当社と締結し、本サービスの提供を受ける者</li>
                                            <li>　利用契約　利用規約に基づき当社と契約者との間に締結される本サービスの提供に関する契約</li>
                                            <li>　利用契約等　利用契約及び利用規約</li>
                                            <li>　契約者設備　本サービスの提供を受けるため契約者等が設置するコンピュータ、電気通信設備その他の機器及びソフトウェア</li>
                                            <li>　本サービス用設備　本サービスを提供するにあたり、当社が設置するコンピュータ、電気通信設備その他の機器及びソフトウェア</li>
                                            <li>　本サービス用設備等　本サービス用設備及び本サービスを提供するために当社が電気通信事業者より借り受ける電気通信回線</li>
                                            <li>　消費税等　消費税法及び同法に関連する法令の規定に基づき課税される消費税の額並びに地方税法及び同法に関する法令の規定に基づき課税される地方消費税の額その他契約者が支払に際して負担すべき公租公課</li>
                                            <li>　ユーザＩＤ　契約者とその他の者を識別するために用いられる符号</li>
                                            <li>パスワード　ユーザＩＤと組み合わせて、契約者とその他の者を識別するために用いられる符号</li>
                                            <li>認定利用者　当社が関連会社（契約者と出資、人事、資金又は技術等に関する継続的な関係を有する会社）又は取引先（仕入先若しくは得意先その他契約者と継続的な契約関係を有する者）と認定し、利用契約等に基づき本サービスの利用を承諾した者</li>
                                            <li>契約者等　契約者及び認定利用者</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <p>（通知）</p>
                                        <p>第３条 当社から契約者への通知は、利用契約等に特段の定めのない限り、通知内容を電子メール、書面又は当社のホームページに掲載するなど、当社が適当と判断する方法により行います。</p>
                                        <p>２．前項の規定に基づき、当社から契約者への通知を電子メールの送信又は当社のホームページへの掲載の方法により行う場合には、契約者に対する当該通知は、それぞれ電子メールの送信又はホームページへの掲載がなされた時点から効力を生じるものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（利用規約の変更）</p>
                                        <p>第４条　当社は、利用規約を随時変更することがあります。なお、この場合には、契約者の利用条件その他利用契約の内容は、変更後の新利用規約を適用するものとします。</p>
                                        <p>２．当社は、前項の変更を行う場合は、１４日の予告期間をおいて、変更後の新利用規約の内容を契約者に通知するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（権利義務譲渡の禁止）</p>
                                        <p>第５条　契約者は、あらかじめ当社の書面による承諾がない限り、利用契約上の地位、利用契約に基づく権利又は義務の全部又は一部を他に譲渡してはならないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（合意管轄）</p>
                                        <p>第６条　契約者と当社の間で訴訟の必要が生じた場合には、横浜地方裁判所をもって合意による専属管轄裁判所とします。</p>
                                        <p>&nbsp;</p>
                                        <p>（準拠法）</p>
                                        <p>第７条　利用契約等の成立、効力、履行及び解釈に関する準拠法は、日本法とします。</p>
                                        <p>&nbsp;</p>
                                        <p>（協議等）</p>
                                        <p>第８条　利用契約等に規定のない事項及び規定された項目について疑義が生じた場合は両者誠意を持って協議の上解決することとします。なお、利用契約等の何れかの部分が無効である場合でも、利用契約等全体の有効性には影響がないものとし、かかる無効の部分については、当該部分の趣旨に最も近い有効な規定を無効な部分と置き換えるものとします。</p>
                                        <p>&nbsp;</p>
                                        <ul>
                                            <li>契約の締結等</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <p>（利用契約の締結等）</p>
                                        <p>第９条　利用契約は、本サービスの利用申込者が、当社所定の利用申込書を当社に提出し、当社がこれに対し当社所定の方法により承諾の通知を発信したときに成立するものとします。なお、本サービスの利用申込者は利用規約の内容を承諾の上、かかる申込を行うものとし、本サービスの利用申込者が申込を行った時点で、当社は、本サービスの利用申込者が利用規約の内容を承諾しているものとみなします。</p>
                                        <p>２．利用契約の変更は、契約者が当社所定の利用変更申込書を当社に提出し、当社がこれに対し当社所定の方法により承諾の通知を発信したときに成立するものとします。</p>
                                        <p>３．当社は、前各項その他利用規約の規定にかかわらず、本サービスの利用申込者及び契約者が次の各号のいずれかに該当する場合には、利用契約又は利用変更契約を締結しないことができます。</p>
                                        <ul>
                                            <li>本サービスに関する金銭債務の不履行、その他利用契約等に違反したことを理由として利用契約を解除されたことがあるとき</li>
                                            <li>利用申込書又は利用変更申込書に虚偽の記載、誤記があったとき又は記入もれがあったとき</li>
                                            <li>金銭債務その他利用契約等に基づく債務の履行を怠るおそれがあるとき</li>
                                            <li>その他当社が不適当と判断したとき</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <p>（利用契約の前提条件）</p>
                                        <p>第１０条　契約者は、別紙Aに定める取次機関及び職業紹介事業者と業務提携等契約を締結し、本サービスの利用により情報を得た求職者の職業紹介が成約した際、紹介手数料または情報提供料を相手先の取次機関ないし職業紹介事業者に支払うこととします。</p>
                                        <p>２．前項は本サービス利用契約の前提条件とします。</p>
                                        <p>&nbsp;</p>
                                        <p>（認定利用者による利用）</p>
                                        <p>第１１条　契約者は、当社があらかじめ書面又は当社所定の方法により承諾した場合、認定利用者に本サービスを利用させることができるものとします。この場合、契約者は、認定利用者による利用を自己の利用とみなされることを承諾するとともに、かかる利用につき一切の責任を負うものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（変更通知）</p>
                                        <p>第１２条　契約者は、その商号若しくは名称、本店所在地若しくは住所、連絡先その他利用申込書の契約者にかかわる事項に変更があるときは、当社の定める方法により変更予定日の１４日前までに当社に通知するものとします。</p>
                                        <p>２．当社は、契約者が前項に従った通知を怠ったことにより契約者が通知の不到達その他の事由により損害を被った場合であっても、一切責任を負わないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（一時的な中断及び提供停止）</p>
                                        <p>第１３条　当社は、次の各号のいずれかに該当する場合には、契約者への事前の通知又は承諾を要することなく、本サービスの提供を中断することができるものとします。</p>
                                        <ul>
                                            <li>本サービス用設備等の故障により保守を行う場合</li>
                                            <li>運用上又は技術上の理由でやむを得ない場合</li>
                                            <li>その他天災地変等不可抗力により本サービスを提供できない場合</li>
                                        </ul>
                                        <p>２．当社は、本サービス用設備等の定期点検を行うため、契約者に事前に通知の上、本サービスの提供を一時的に中断できるものとします。</p>
                                        <p>３．当社は、契約者が第１７条（当社からの利用契約の解約）第１項各号のいずれかに該当する場合又は契約者が利用料金未払いその他利用契約等に違反した場合には、契約者への事前の通知若しくは催告を要することなく本サービスの全部又は一部の提供を停止することができるものとします。</p>
                                        <p>４．当社は、前各項に定める事由のいずれかにより本サービスを提供できなかったことに関して契約者等又はその他の第三者が損害を被った場合であっても、一切責任を負わないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（利用期間）</p>
                                        <p>第１４条　本サービスの利用期間は、利用契約に定めるものとします。ただし、当社が定める方法により期間満了１４日前までに契約者又は当社から別段の意思表示がないときは、利用契約は期間満了日の翌日からさらに１年間自動的に更新されるものとし、以後もまた同様とします。</p>
                                        <p>２．当社は、本サービスの利用期間満了の１４日前までに、契約者に利用契約の変更内容を通知することにより、更新後における本サービスの種類、内容及び利用料金その他利用契約内容を変更することができるものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（最短利用期間）</p>
                                        <p>第１５条　本サービスの最短利用期間は、契約者に本サービスの提供を開始した日から起算して３ヶ月とします。</p>
                                        <p>２．契約者は、前項の最短利用期間内に利用契約の解約を行う場合は、第１６条（契約者からの利用契約の解約）に従うことに加え、当社が定める期限までに、解約日以降最短利用期間満了日までの残余の期間に対応する利用料金に相当する額及びその消費税相当額を一括して当社に支払うものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（契約者からの利用契約の解約）</p>
                                        <p>第１６条　契約者は、解約希望日の１４日前までに当社が定める方法により当社に通知することにより、解約希望日をもって利用契約を解約することができるものとします。なお、解約希望日の記載のない場合又は解約希望通知到達日から解約希望日までの期間が１４日未満の場合、解約希望通知が当社に到達した日より１４日後を契約者の解約希望日とみなすものとします。</p>
                                        <p>２．契約者は、前項に定める通知が当社に到達した時点において未払いの利用料金等又は支払遅延損害金がある場合には、直ちにこれを支払うものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（当社からの利用契約の解約）</p>
                                        <p>第１７条　当社は、契約者が次の各号のいずれかに該当すると判断した場合、契約者への事前の通知若しくは催告を要することなく利用契約の全部若しくは一部を解約することができるものとします。</p>
                                        <ul>
                                            <li>利用申込書、利用変更申込書その他通知内容等に虚偽記入又は記入もれがあった場合</li>
                                            <li>支払停止又は支払不能となった場合</li>
                                            <li>手形又は小切手が不渡りとなった場合</li>
                                            <li>差押え、仮差押え若しくは競売の申立があったとき又は公租公課の滞納処分を受けた場合</li>
                                            <li>破産、会社整理開始、会社更生手続開始若しくは民事再生手続開始の申立があったとき又は信用状態に重大な不安が生じた場合</li>
                                            <li>監督官庁から営業許可の取消、停止等の処分を受けた場合</li>
                                        </ul>
                                        <p>（７）利用契約等に違反し当社がかかる違反の是正を催告した後合理的な期間内に是正されない場合</p>
                                        <p>（８）解散、減資、営業の全部又は重要な一部の譲渡等の決議をした場合</p>
                                        <p>（９）利用契約を履行することが困難となる事由が生じた場合</p>
                                        <p>２．契約者は、前項による利用契約の解約があった時点において未払いの利用料金等又は支払遅延損害金がある場合には、当社が定める日までにこれを支払うものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（本サービスの廃止）</p>
                                        <p>第１８条　当社は、次の各号のいずれかに該当する場合、本サービスの全部又は一部を廃止するものとし、廃止日をもって利用契約の全部又は一部を解約することができるものとします。</p>
                                        <ul>
                                            <li>廃止日の６０日前までに契約者に通知した場合</li>
                                            <li>天災地変等不可抗力により本サービスを提供できない場合</li>
                                        </ul>
                                        <p>２．前項に基づき本サービスの全部又は一部を廃止する場合、当社は、既に支払われている利用料金等のうち、廃止する本サービスについて提供しない日数に対応する額を日割計算にて契約者に返還するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（契約終了後の処理）</p>
                                        <p>第１９条　契約者は、利用契約が終了した場合、本サービスの利用にあたって当社から提供を受けた機器、ソフトウェア及びそれに関わる全ての資料等（当該ソフトウェア及び資料等の全部又は一部の複製物を含みます。以下同じとします。）を利用契約終了後直ちに当社に返還し、契約者設備などに格納されたソフトウェア及び資料等については、契約者の責任で消去するものとします。</p>
                                        <p>２．当社は、利用契約が終了した場合、本サービスの利用にあたって契約者から提供を受けた資料等（資料等の全部又は一部の複製物を含みます。以下同じとします。）を利用契約終了後直ちに契約者に返還し、本サービス用設備などに記録された資料等については、当社の責任で消去するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>第３章　サービス</p>
                                        <p>&nbsp;</p>
                                        <p>（本サービスの種類と内容）</p>
                                        <p>第２０条&nbsp; 当社が一般的に提供する本サービスの種類及びその内容は、別紙Bに定めるとおりとし、契約者が具体的に利用できる本サービスの種類は、利用契約にて定めるものとします。</p>
                                        <p>２．契約者は以下の事項を了承の上、本サービスを利用するものとします。</p>
                                        <ul>
                                            <li>第４１条（免責）第１項各号に掲げる場合を含め、本サービスに当社に起因しない不具合が生じる場合があること</li>
                                            <li>当社に起因しない本サービスの不具合については、当社は一切その責を免れること</li>
                                        </ul>
                                        <p>３．契約者は、利用契約等に基づいて、本サービスを利用することができるものであり、本サービスに関する知的財産権その他の権利を取得するものでないことを承諾します。</p>
                                        <p>&nbsp;</p>
                                        <p>（本サービスの提供区域）</p>
                                        <p>第２１条　本サービスの提供区域は、利用契約等で特に定める場合を除き、日本国内に限定されるものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（導入支援及びサポート）</p>
                                        <p>第２２条　当社は、別紙Bに定める導入支援サービス及びサポートサービスを利用契約に基づき契約者に対して提供するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（再委託）</p>
                                        <p>第２３条　当社は、契約者に対する本サービスの提供に関して必要となる業務の全部又は一部を当社の判断にて第三者に再委託することができます。この場合、当社は、当該再委託先（以下「再委託先」といいます。）に対し、第３８条(秘密情報の取り扱い)及び第３９条（個人情報の取り扱い）のほか当該再委託業務遂行について利用契約等所定の当社の義務と同等の義務を負わせるものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>第４章　利用料金</p>
                                        <p>&nbsp;</p>
                                        <p>（本サービスの利用料金、算定方法等）</p>
                                        <p>第２４条　本サービスの利用料金、算定方法等は、別紙Cの料金表に定めるとおりとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（利用料金の支払義務）</p>
                                        <p>第２５条　契約者は、利用契約が成立した日から起算して利用契約の終了日までの期間（以下「利用期間」という。）について、別紙Cの料金表に定める利用料金及びこれにかかる消費税等を利用契約等に基づき支払うものとします。なお、契約者が本条に定める支払を完了しない場合、当社は、第１３条（一時的な中断及び提供停止）第３項の定めに従い、本サービスの提供を停止することができるものとします。</p>
                                        <p>２．利用期間において、第１３条(一時的な中断及び提供停止)に定める本サービスの提供の中断、停止その他の事由により本サービスを利用することができない状態が生じたときであっても、契約者は、利用期間中の利用料金及びこれにかかる消費税等の支払を要します。ただし、定額制又は基本料金制（従量制と併用される料金制度で利用のいかんにかかわらず一定額の支払を要するものを意味します。以下同じとします。）を含む料金制による本サービスの利用について当社の責に帰すべき事由により本サービスを全く利用できない状態（以下「利用不能」といいます。）が２４時間以上となる場合、利用不能の日数（１日未満は切り捨て）に対応する当該料金制の利用料金及びこれにかかる消費税相当額については、この限りではありません。</p>
                                        <p>&nbsp;</p>
                                        <p>（利用料金の支払方法）</p>
                                        <p>第２６条　契約者は、本サービスの利用料金及びこれにかかる消費税等を、次の各号のいずれかの方法で支払うものとします。なお、次の各号の支払に必要な振込手数料その他の費用は、契約者の負担とします。</p>
                                        <ul>
                                            <li>請求書により決済する場合、当社からの請求書に従い当社が指定する期日までに当社の指定する方法により、当社あるいは当社指定の金融機関に支払うか、当社が別途指定する集金代行業者を通じて当社が指定する期日までに、契約者が指定する預金口座から自動引き落しにより支払うものとします。</li>
                                            <li>その他当社が定める支払方法により支払うものとします。</li>
                                        </ul>
                                        <p>２．契約者と前項の金融機関との間で利用料金の決済をめぐって紛争が発生した場合、契約者が自らの責任と負担で解決するものとし、当社は一切の責任を負わないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（遅延利息）</p>
                                        <p>第２７条　契約者が、本サービスの利用料金その他の利用契約等に基づく債務を所定の支払期日が過ぎてもなお履行しない場合、契約者は、所定の支払期日の翌日から支払日の前日までの日数に、年１０.０％の利率で計算した金額を延滞利息として、本サービスの料金その他の債務と一括して、当社が指定する期日までに当社の指定する方法により支払うものとします。</p>
                                        <p>２．前項の支払に必要な振込手数料その他の費用は、契約者の負担とします。</p>
                                        <p>&nbsp;</p>
                                        <p>第５章　契約者の義務等</p>
                                        <p>&nbsp;</p>
                                        <p>（自己責任の原則）</p>
                                        <p>第２８条　契約者は、本サービスの利用に伴い、自己の責に帰すべき事由で第三者（認定利用者を含み、国内外を問いません。本条において以下同じとします。）に対して損害を与えた場合、又は第三者からクレーム等の請求がなされた場合、自己の責任と費用をもって処理、解決するものとします。契約者が本サービスの利用に伴い、第三者から損害を被った場合、又は第三者に対してクレーム等の請求を行う場合においても同様とします。</p>
                                        <p>２．本サービスを利用して契約者等が提供又は伝送する情報（コンテンツ）については、契約者の責任で提供されるものであり、当社はその内容等についていかなる保証も行わず、また、それに起因する損害についてもいかなる責任も負わないものとします。</p>
                                        <p>３．契約者は、契約者等がその故意又は過失により当社に損害を与えた場合、当社に対して、当該損害の賠償を行うものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（利用責任者）</p>
                                        <p>第２９条　契約者は、本サービスの利用に関する利用責任者をあらかじめ定めた上、第９条所定の利用申込書に記載して当社へ通知するものとし、本サービスの利用に関する当社との連絡・確認等は、原則として利用責任者を通じて行うものとします。</p>
                                        <p>２．契約者は、利用申込書に記載した利用責任者に変更が生じた場合、当社に対し、利用変更申込書にて速やかに通知するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（本サービス利用のための設備設定・維持）</p>
                                        <p>第３０条　契約者は、自己の費用と責任において、当社が定める条件にて契約者設備を設定し、契約者設備及び本サービス利用のための環境を維持するものとします。</p>
                                        <p>２．契約者は、本サービスを利用するにあたり自己の責任と費用をもって、電気通信事業者等の電気通信サービスを利用して契約者設備をインターネットに接続するものとします。</p>
                                        <p>３．契約者設備、前項に定めるインターネット接続並びに本サービス利用のための環境に不具合がある場合、当社は契約者に対して本サービスの提供の義務を負わないものとします。</p>
                                        <p>４．当社は、当社が本サービスに関して保守、運用上又は技術上必要であると判断した場合、契約者等が本サービスにおいて提供、伝送するデータ等について、監視、分析、調査等必要な行為を行うことができます。</p>
                                        <p>&nbsp;</p>
                                        <p>（ユーザＩＤ及びパスワード）</p>
                                        <p>第３１条　契約者は、認定利用者に対して利用契約等に基づき開示する場合を除きユーザＩＤ及びパスワードを第三者に開示、貸与、共有しないとともに、第三者に漏洩することのないよう厳重に管理（パスワードの適宜変更を含みます。）するものとします。ユーザＩＤ及びパスワードの管理不備、使用上の過誤、第三者の使用等により契約者自身及びその他の者が損害を被った場合、当社は一切の責任を負わないものとします。契約者のユーザＩＤ及びパスワードによる利用その他の行為は、全て契約者による利用とみなすものとします。</p>
                                        <p>２．第三者が契約者のユーザＩＤ及びパスワードを用いて、本サービスを利用した場合、当該行為は契約者の行為とみなされるものとし、契約者はかかる利用についての利用料金の支払その他の債務一切を負担するものとします。また、当該行為により当社が損害を被った場合は契約者は当該損害を補填するものとします。ただし、当社の故意又は過失によりユーザＩＤ及びパスワードが第三者に利用された場合はこの限りではありません。</p>
                                        <p>&nbsp;</p>
                                        <p>（バックアップ）</p>
                                        <p>第３２条　契約者は、契約者等が本サービスにおいて提供、伝送するデータ等については、契約者は自らの責任で同一のデータ等をバックアップとして保存しておくものとし、利用契約に基づき当社がデータ等のバックアップに関するサービスを提供する場合を除き、当社はかかるデータ等の保管、保存、バックアップ等に関して、一切責任を負わないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（禁止事項）</p>
                                        <p>第３３条　契約者は本サービスの利用に関して、以下の行為を行わないものとします。</p>
                                        <ul>
                                            <li>当社若しくは第三者の著作権、商標権などの知的財産権その他の権利を侵害する行為、又は侵害するおそれのある行為</li>
                                            <li>本サービスの内容や本サービスにより利用しうる情報を改ざん又は消去する行為</li>
                                            <li>利用契約等に違反して、第三者に本サービスを利用させる行為</li>
                                            <li>法令若しくは公序良俗に違反し、又は当社若しくは第三者に不利益を与える行為</li>
                                            <li>他者を差別若しくは誹謗中傷し、又はその名誉若しくは信用を毀損する行為</li>
                                            <li>詐欺等の犯罪に結びつく又は結びつくおそれがある行為</li>
                                            <li>わいせつ、児童ポルノ又は児童虐待にあたる画像、文書等を送信又は掲載する行為</li>
                                            <li>無限連鎖講を開設し、又はこれを勧誘する行為</li>
                                            <li>第三者になりすまして本サービスを利用する行為</li>
                                            <li>ウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為</li>
                                            <li>無断で第三者に広告、宣伝若しくは勧誘のメールを送信する行為、又は第三者が嫌悪感を抱く、若しくはそのおそれのあるメール（嫌がらせメール)を送信する行為</li>
                                            <li>第三者の設備等又は本サービス用設備等の利用若しくは運営に支障を与える行為、又は与えるおそれのある行為</li>
                                            <li>その行為が前各号のいずれかに該当することを知りつつ、その行為を助長する態様・目的でリンクをはる行為</li>
                                        </ul>
                                        <p>２．契約者は、前項各号のいずれかに該当する行為がなされたことを知った場合、又は該当する行為がなされるおそれがあると判断した場合は、直ちに当社に通知するものとします。</p>
                                        <p>３．当社は、本サービスの利用に関して、契約者等の行為が第１項各号のいずれかに該当するものであること又は契約者等の提供した情報が第１項各号のいずれかの行為に関連する情報であることを知った場合、事前に契約者に通知することなく、本サービスの全部又は一部の提供を一時停止し、又は第１項各号に該当する行為に関連する情報を削除することができるものとします。ただし、当社は、契約者等の行為又は契約者等が提供又は伝送する（契約者の利用とみなされる場合も含みます。）情報（データ、コンテンツを含みます。）を監視する義務を負うものではありません。</p>
                                        <p>&nbsp;</p>
                                        <p>（認定利用者の遵守事項等）</p>
                                        <p>第３４条　第１１条（認定利用者による利用）の定めに基づき、当社が、認定利用者による本サービスの利用を承諾した場合、契約者は、認定利用者との間で、次の各号に定める事項を含む契約を締結し、認定利用者にこれらの事項を遵守させるものとします。</p>
                                        <p>（１）認定利用者は、利用契約等の内容を承諾した上、契約者と同様にこれらを遵守すること。ただし、利用規約等のうち、利用料金の支払い義務など条項の性質上、認定利用者に適用できないものを除きます。</p>
                                        <p>（２）契約者と当社間の利用契約が理由の如何を問わず終了した場合は、認定利用者に対する本サービスも自動的に終了し、認定利用者は本サービスを利用できないこと。</p>
                                        <p>（３）認定利用者は、第三者に対し、本サービスを利用させないこと。</p>
                                        <p>（４）本サービスの提供に関して当社が必要と認めた場合には、契約者が、当社に対して、必要な範囲で、認定利用者から事前の書面による承諾を受けることなく秘密情報を開示することができること、また、当社は第２２条（再委託）所定の再委託先に対して、再委託のために必要な範囲で、契約者から事前の書面による承諾を受けることなくかかる秘密情報を開示することができること。ただし、当該秘密情報に関して、当社は利用規約に定める秘密情報と同等の管理を行う義務を負うものとします。</p>
                                        <p>（５）認定利用者は、請求原因の如何を問わず、本サービスに関して当社に損害賠償請求等の請求を含め、一切の責任追及を行うことができないことを承諾するとともに、当社に対して一切の責任追及を行わないこと。</p>
                                        <p>２．契約者は、当社から受領した本サービスに関する通知その他の連絡事項に関し、認定利用者に対し、すみやかに伝達するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（認定利用者が利用契約に違反した場合の措置）</p>
                                        <p>第３５条　第１１条（認定利用者による利用）の定めに基づき、当社が、認定利用者による本サービスの利用を承認した場合において、認定利用者が、前条第１項各号所定の条項に違反した場合、契約者は、すみやかに当該違反を是正させるものとします。</p>
                                        <p>２．認定利用者が、前条第１項各号所定の条項に違反した日から１４日間経過後も、当該違反を是正しない場合、当社は、次の各号に定める措置を講ずることができるものとします。</p>
                                        <ul>
                                            <li>当該認定利用者に対する本サービスの提供を停止すること</li>
                                            <li>当社と契約者の間の利用契約の全部若しくは当該認定利用者の本サービス利用に関する部分を含め一部を解除すること</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <p>第６章　当社の義務等</p>
                                        <p>&nbsp;</p>
                                        <p>（善管注意義務）</p>
                                        <p>第３６条　当社は、本サービスの利用期間中、善良なる管理者の注意をもって本サービスを提供するものとします。ただし、利用契約等に別段の定めがあるときはこの限りでないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>（本サービス用設備等の障害等）</p>
                                        <p>第３７条　当社は、本サービス用設備等について障害があることを知ったときは、遅滞なく契約者にその旨を通知するものとします。</p>
                                        <p>２．当社は、当社の設置した本サービス用設備に障害があることを知ったときは、遅滞なく本サービス用設備を修理又は復旧します。</p>
                                        <p>３．当社は、本サービス用設備等のうち、本サービス用設備に接続する当社が借り受けた電気通信回線について障害があることを知ったときは、当該電気通信回線を提供する電気通信事業者に修理又は復旧を指示するものとします。</p>
                                        <p>４．上記のほか、本サービスに不具合が発生したときは、契約者及び当社はそれぞれ遅滞なく相手方に通知し、両者協議のうえ各自の行うべき対応措置を決定したうえでそれを実施するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>第７章　秘密情報等の取り扱い</p>
                                        <p>&nbsp;</p>
                                        <p>（秘密情報の取り扱い）</p>
                                        <p>第３８条　契約者及び当社は、本サービス遂行のため相手方より提供を受けた技術上又は営業上その他業務上の情報のうち、相手方が特に秘密である旨あらかじめ書面で指定した情報で、提供の際に秘密情報の範囲を特定し、秘密情報である旨の表示を明記した情報（以下「秘密情報」といいます。）を第三者に開示又は漏洩しないものとします。ただし、相手方からあらかじめ書面による承諾を受けた場合及び次の各号のいずれかに該当する情報についてはこの限りではありません。</p>
                                        <ul>
                                            <li>秘密保持義務を負うことなく既に保有している情報</li>
                                            <li>秘密保持義務を負うことなく第三者から正当に入手した情報</li>
                                            <li>相手方から提供を受けた情報によらず、独自に開発した情報</li>
                                            <li>利用契約等に違反することなく、かつ、受領の前後を問わず公知となった情報</li>
                                            <li>本条に従った指定、範囲の特定や秘密情報である旨の表示がなされず提供された情報</li>
                                        </ul>
                                        <p>２．前各項の定めにかかわらず、契約者及び当社は、秘密情報のうち法令の定めに基づき又は権限ある官公署からの要求により開示すべき情報を、当該法令の定めに基づく開示先又は当該官公署に対し開示することができるものとします。この場合、契約者及び当社は、関連法令に反しない限り、当該開示前に開示する旨を相手方に通知するものとし、開示前に通知を行うことができない場合は開示後すみやかにこれを行うものとします。</p>
                                        <p>３．秘密情報の提供を受けた当事者は、当該秘密情報の管理に必要な措置を講ずるものとします。</p>
                                        <p>４．秘密情報の提供を受けた当事者は、相手方より提供を受けた秘密情報を本サービス遂行目的の範囲内でのみ使用し、本サービス遂行上必要な範囲内で秘密情報を化体した資料等（以下本条において「資料等」といいます。）を複製又は改変（以下本項においてあわせて「複製等」といいます。）することができるものとします。この場合、契約者及び当社は、当該複製等された秘密情報についても、本条に定める秘密情報として取り扱うものとします。なお、本サービス遂行上必要な範囲を超える複製等が必要な場合は、あらかじめ相手方から書面による承諾を受けるものとします。</p>
                                        <p>５．前各項の規定に関わらず、当社が必要と認めた場合には、<a href="https://intro.nihon-work.com/faq/%e5%88%a9%e7%94%a8%e8%a6%8f%e7%b4%84#_Hlk87758045">第２３条</a>（再委託）所定の再委託先に対して、再委託のために必要な範囲で、契約者から事前の書面による承諾を受けることなく秘密情報を開示することができます。ただしこの場合、当社は再委託先に対して、本条に基づき当社が負う秘密保持義務と同等のものを負わせるものとします。</p>
                                        <p>６．秘密情報の提供を受けた当事者は、相手方の要請があったときは資料等（本条第４項に基づき相手方の承諾を得て複製、改変した秘密情報を含みます。）を相手方に返還し、秘密情報が契約者設備又は本サービス用設備に蓄積されている場合はこれを完全に消去するものとします。</p>
                                        <p>７．本条の規定は、本サービス終了後、３年間有効に存続するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（個人情報の取り扱い）</p>
                                        <p>第３９条　契約者及び当社は、本サービス遂行のため相手方より提供を受けた営業上その他業務上の情報に含まれる個人情報（個人情報の保護に関する法律に定める「個人情報」をいいます。以下同じとします。）を本サービス遂行目的の範囲内でのみ使用し、第三者に開示又は漏洩しないものとするとともに、個人情報に関して個人情報の保護に関することを含め関連法令を遵守するものとします。</p>
                                        <p>２．個人情報の取り扱いについては、前条（秘密情報の取り扱い）第４項乃至第７項の規定を準用するものとします。</p>
                                        <p>３．本条の規定は、本サービス終了後も有効に存続するものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>第８章　損害賠償等</p>
                                        <p>&nbsp;</p>
                                        <p>（損害賠償の制限）</p>
                                        <p>第４０条　債務不履行責任、不法行為責任、その他法律上の請求原因の如何を問わず、本サービス又は利用契約等に関して、当社が契約者に対して負う損害賠償責任の範囲は、当社の責に帰すべき事由により又は当社が利用契約等に違反したことが直接の原因で契約者に現実に発生した通常の損害に限定され、損害賠償の額は以下に定める額を超えないものとします。ただし、契約者の当社に対する損害賠償請求は、契約者による対応措置が必要な場合には契約者が第３７条（本サービス用設備等の障害等）第４項などに従い対応措置を実施したときに限り行えるものとします。なお、当社の責に帰すことができない事由から生じた損害、当社の予見の有無を問わず特別の事情から生じた損害、逸失利益について当社は賠償責任を負わないものとします。</p>
                                        <ul>
                                            <li>当該事由が生じた月の前月末日から初日算入にて起算して、過去１２ヶ月間に発生した当該本サービスに係わる料金の平均月額料金（１ヶ月分）</li>
                                            <li>当該事由が生じた月の前月末日から初日算入にて起算して本サービスの開始日までの期間が１ヶ月以上ではあるが１２ヶ月に満たない場合には、当該期間（１月未満は切捨て）に発生した当該本サービスに係わる料金の平均月額料金（１ヶ月分）</li>
                                            <li>前各号に該当しない場合には、当該事由が生じた日の前日までの期間に発生した当該本サービスに係わる料金の平均日額料金（１日分）に３０を乗じた額</li>
                                        </ul>
                                        <p>２．本サービス又は利用契約等に関して、当社の責に帰すべき事由により又は当社が利用契約等に違反したことにより認定利用者に損害が発生した場合について、当社は前項所定の契約者に対する責任を負うことによって認定利用者に対する一切の責任を免れるものとし、認定利用者に対する対応は契約者が責任をもって行うものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（免責）</p>
                                        <p>第４１条　本サービス又は利用契約等に関して当社が負う責任は、理由の如何を問わず前条の範囲に限られるものとし、当社は、以下の事由により契約者等に発生した損害については、債務不履行責任、不法行為責任、その他の法律上の請求原因の如何を問わず賠償の責任を負わないものとします。</p>
                                        <ul>
                                            <li>天災地変、騒乱、暴動等の不可抗力</li>
                                            <li>契約者設備の障害又は本サービス用設備までのインターネット接続サービスの不具合等契約者の接続環境の障害</li>
                                            <li>本サービス用設備からの応答時間等インターネット接続サービスの性能値に起因する損害</li>
                                            <li>当社が第三者から導入しているコンピュータウィルス対策ソフトについて当該第三者からウィルスパターン、ウィルス定義ファイル等を提供されていない種類のコンピュータウィルスの本サービス用設備への侵入</li>
                                            <li>善良なる管理者の注意をもってしても防御し得ない本サービス用設備等への第三者による不正アクセス又はアタック、通信経路上での傍受</li>
                                            <li>当社が定める手順・セキュリティ手段等を契約者等が遵守しないことに起因して発生した損害</li>
                                            <li>本サービス用設備のうち当社の製造に係らないソフトウェア(ＯＳ、ミドルウェア、ＤＢＭＳ)及びデータベースに起因して発生した損害</li>
                                            <li>本サービス用設備のうち、当社の製造に係らないハードウェアに起因して発生した損害</li>
                                            <li>電気通信事業者の提供する電気通信役務の不具合に起因して発生した損害</li>
                                            <li>刑事訴訟法第２１８条（令状による差押え・捜索・検証）、犯罪捜査のための通信傍受に関する法律の定めに基づく強制の処分その他裁判所の命令若しくは法令に基づく強制的な処分</li>
                                            <li>当社の責に帰すべからざる事由による納品物の搬送途中での紛失等の事故</li>
                                            <li>再委託先の業務に関するもので、再委託先の選任・監督につき当社に過失などの帰責事由がない場合</li>
                                            <li>その他当社の責に帰すべからざる事由</li>
                                        </ul>
                                        <p>２．当社は、契約者等が本サービスを利用することにより契約者と第三者との間で生じた紛争等について一切責任を負わないものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>以上</p>
                                        <p>&nbsp;</p>
                                        <p style="text-align:center"><u>別紙A 取次機関及び職業紹介事業者との業務提携等契約及び紹介手数料または情報提供料</u></p>
                                        <p>&nbsp;</p>
                                        <p>第１０条（利用契約の前提条件）に定める契約者の取次機関及び職業紹介事業者との業務提携等契約の概要、及び紹介手数料または情報提供料は以下の通りとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（契約者の取次機関及び職業紹介事業者との業務提携等契約の概要）</p>
                                        <p>&nbsp;</p>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td width="104">
                                                        職業紹介の<p></p>
                                                        <p>種別</p>
                                                    </td>
                                                    <td width="102">
                                                        業務契約等<p></p>
                                                        <p>契約の名称</p>
                                                    </td>
                                                    <td width="149">
                                                        業務提携等契約の<p></p>
                                                        <p>相手先</p>
                                                    </td>
                                                    <td width="134">業務提携等契約相手先の主な役割</td>
                                                    <td width="93">紹介成約時の支払費用</td>
                                                </tr>
                                                <tr>
                                                    <td width="104">国外にわたる職業紹介（特定技能以外）</td>
                                                    <td width="102">「業務提携契約」</td>
                                                    <td width="149">
                                                        Yakushin Services Trading Company Limited<br>
                                                        （ベトナム取次機関）
                                                    </td>
                                                    <td width="134">
                                                        Nihon Workを通じた求職者情報提供<p></p>
                                                        <p>ベトナム側の取次業務</p>
                                                    </td>
                                                    <td width="93">紹介手数料</td>
                                                </tr>
                                                <tr>
                                                    <td width="104">国外にわたる職業紹介（特定技能）</td>
                                                    <td width="102">「特定技能者職業斡旋に関する協定書」</td>
                                                    <td width="149">
                                                        Haiphong Trading And Labour Supply Joint Stock Company<br>
                                                        （ベトナム取次機関・特定技能送出機関）
                                                    </td>
                                                    <td width="134">
                                                        Nihon Workを通じた求職者情報提供<p></p>
                                                        <p>ベトナム側の取次業務</p>
                                                    </td>
                                                    <td width="93">紹介手数料</td>
                                                </tr>
                                                <tr>
                                                    <td width="104">日本国内における職業紹介</td>
                                                    <td width="102">「業務提携契約」</td>
                                                    <td width="149">
                                                        レイラビジネスアドバイザリー株式会社<br>
                                                        （有料職業紹介事業者13－ユ－311274）
                                                    </td>
                                                    <td width="134">Nihon Workを通じた求職者情報提供</td>
                                                    <td width="93">情報提供料</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <p>＊国外にわたる職業紹介において、ベトナム側の取次業務を行う取次機関に支払うものは紹介手数料とし、日本国内における職業紹介において、Nihon Workを通じた求職者情報提供をする業務提携をする相手先の職業紹介事業者に支払うのものは情報提供料とします。</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>（紹介手数料または情報提供料）</p>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td width="158">対象</td>
                                                    <td width="113">種別</td>
                                                    <td width="151">＊紹介手数料または情報提供料</td>
                                                    <td width="157">単位</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="4" width="158">Nihon Workサービスの利用により情報を得た求職者の紹介成約</td>
                                                    <td width="113">JLPT/N4</td>
                                                    <td width="151">\140,000</td>
                                                    <td width="157">成約件数あたり</td>
                                                </tr>
                                                <tr>
                                                    <td width="113">JLPT/N3</td>
                                                    <td width="151">\180,000</td>
                                                    <td width="157">成約件数あたり</td>
                                                </tr>
                                                <tr>
                                                    <td width="113">JLPT/N2、N1</td>
                                                    <td width="151">\280,000</td>
                                                    <td width="157">成約件数あたり</td>
                                                </tr>
                                                <tr>
                                                    <td width="113">特定技能</td>
                                                    <td width="151">月給1.6ケ月</td>
                                                    <td width="157">成約件数あたり</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                            ＊ 紹介手数料または情報提供料<br>
                                            国外にわたる職業紹介における紹介手数料は消費税対象外、国内の職業紹介における情報提供料は消費税対象となります。
                                        </p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>以上</p>
                                        <p>&nbsp;</p>
                                        <p style="text-align:center"><u>別紙B　第２０条（サービスの種類及び内容）、第２２条（導入支援及びサポート）関係</u></p>
                                        <p>&nbsp;</p>
                                        <p>サービスの種類及び内容は以下のとおりとします。</p>
                                        <p>１．本サービスの種類及び内容</p>
                                        <p>本サービスの種類及び内容は以下のとおりとし、詳細は当社が別途定める「サービス仕様書」によるものとします。</p>
                                        <p>&nbsp;</p>
                                        <p>（ベトナム人材の職業紹介支援サービス）</p>
                                        <p>契約者が求人及び求職者情報を登録し、外部から登録された求職者情報を含めて、求人と求職者の条件検索やマッチングを行い、メール等による両者とのコミュニケーションや職業紹介及びその進捗管理等を支援するWEB上のアプリケーションを提供するサービス</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>２．本サービス利用可能時間</p>
                                        <p>月曜日から金曜日（祝日及び１２月２９日から１月３日までを除く）、９時から１８時まで</p>
                                        <p>&nbsp;</p>
                                        <p>３．導入支援サービス</p>
                                        <p>契約者の要望により、有償オプションにて以下の導入支援サービスを提供します。</p>
                                        <p>&nbsp;</p>
                                        <p>（１）内容：　初期設定及び運用・操作指導（トレーニング）</p>
                                        <p>①設定メニュー（ユーザ、ページの役割、役割定義、自社情報、メール、メールサーバ）</p>
                                        <p>②求職者メニュー（求職者登録、求職者検索、求職者のリスト表示、求職者へのアクション）</p>
                                        <p>
                                            ③求人会社・求人メニュー（求人会社登録、求人登録、求人会社・求人検索、求人会社・求人<br>
                                            検索のリスト表示、求人会社へのアクション）
                                        </p>
                                        <p>④進捗管理メニュー（求職者別進捗表示、求人会社・求人別進捗表示）</p>
                                        <p>⑤その他アプリケーションの運用・操作に関するもの</p>
                                        <p>（２）対象者：アプリケーションの管理者及び利用者</p>
                                        <p>（３）期間：　3時間（1回）</p>
                                        <p>（４）場所：　契約者の指定する場所（費用は契約者負担）</p>
                                        <p>（５）その他：　旅費交通費は実費（横浜市内を起点として）を契約者にご請求させて頂きます</p>
                                        <p>&nbsp;</p>
                                        <p>４．WEB面接通訳サービス</p>
                                        <p>契約者の要望により、有償オプションにて以下の通訳サービスを提供します。</p>
                                        <p>&nbsp;</p>
                                        <p>（１）内容：　WEB面接のおけるベトナム語通訳サービス</p>
                                        <p>（２）時間：　2時間（1回）</p>
                                        <p>（３）場所：　通訳者はベトナムからWEB面接に参加します</p>
                                        <p>（４）サービス時間：</p>
                                        <p>原則として月曜日から金曜日（祝日及び１２月２９日から１月３日までを除く）、１０時から１７時まで</p>
                                        <p>&nbsp;</p>
                                        <p>５．サポートサービス（無償）</p>
                                        <p>当社が提供するサポートサービスの内容は以下のとおりとします。</p>
                                        <p>（１）内容と種類</p>
                                        <p>①本サービスの利用方法に関する質問への回答及び助言（チャット機能のみ）</p>
                                        <p>②障害発生及び復旧時のメール発信</p>
                                        <p>&nbsp;</p>
                                        <p>（２）サービス窓口とサービス時間（無償）</p>
                                        <p>
                                            サービス窓口：<br>
                                            ①アプリケーション上のチャット<br>
                                            サービス時間：<br>
                                            月曜日から金曜日（祝日及び１２月２９日から１月３日までを除く）、１０時から１７時まで
                                        </p>
                                        <p>&nbsp;</p>
                                        <p>６．契約者設備に関する仕様</p>
                                        <p>契約者は、以下の仕様を充たす契約者設備を設定・維持するものとします。</p>
                                        <p>（１）動作環境</p>
                                        <p>インターネットブラウザ： Chrome、Safari、Edge</p>
                                        <p>&nbsp;</p>
                                        <p>（２）電気通信回線</p>
                                        <p>安定したインターネット接続環境</p>
                                        <p>&nbsp;</p>
                                        <p>７．セキュリティ</p>
                                        <p>当社は本サービス用設備等に関し、以下の措置を講じるものとします。</p>
                                        <p>（１）SSL（Secure Socket Layer）（1024Bit）による通信の暗号化</p>
                                        <p>（２）Vultr Hoding社のサーバ証明書を発行</p>
                                        <p>（３）インターネットの接続環境にファイアウォールを設置</p>
                                        <p>（４）本サービス用設備に送受信されるデータに対しウイルスチェックを実施</p>
                                        <p>①ウイルスチェックソフトの種類： Kaspersky</p>
                                        <p>②ウイルスチェックの頻度： 新たなウィルスパターンがアップデートされたとき</p>
                                        <p>&nbsp;</p>
                                        <p>８．データ管理</p>
                                        <p>当社はJapan workに入力された全てのデータを対象に、１日に一回バックアップを行い、１０日間保存します。１０日を経過したバックアップデータは自動的に削除されます。</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>以上</p>
                                        <p>&nbsp;</p>
                                        <p style="text-align:center"><u>別紙C</u><u>　料金表</u></p>
                                        <p>&nbsp;</p>
                                        <p>制定　2020年9月１日</p>
                                        <p>&nbsp;</p>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td width="168">項目</td>
                                                    <td width="142">単位</td>
                                                    <td width="104">金額</td>
                                                    <td width="161">備考</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">基本サービス</td>
                                                    <td width="142">&nbsp;</td>
                                                    <td width="104">&nbsp;</td>
                                                    <td width="161">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">アカウント利用料</td>
                                                    <td width="142">会社単位/月額</td>
                                                    <td width="104">\7,500</td>
                                                    <td width="161">–</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">ユーザー利用料</td>
                                                    <td width="142">ユーザ単位/月額</td>
                                                    <td width="104">\2,500</td>
                                                    <td width="161">–</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">求人票登録料</td>
                                                    <td width="142">新規登録件数/月間</td>
                                                    <td width="104">\1,000</td>
                                                    <td width="161">3ケ月掲載</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">オプションサービス</td>
                                                    <td width="142">&nbsp;</td>
                                                    <td width="104">&nbsp;</td>
                                                    <td width="161">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">導入支援サービス</td>
                                                    <td width="142">一式</td>
                                                    <td width="104">\30,000</td>
                                                    <td width="161">3時間（１回）</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">WEB面接通訳サービス</td>
                                                    <td width="142">一式</td>
                                                    <td width="104">\3,500</td>
                                                    <td width="161">2時間（１回）</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="310">＊1紹介手数料徴収代行サービス</td>
                                                    <td width="104">&nbsp;</td>
                                                    <td width="161">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">＊2紹介手数料または</td>
                                                    <td width="142">件数単位</td>
                                                    <td width="104">\140,000</td>
                                                    <td width="161">JLPT/N4</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">　　　情報提供料</td>
                                                    <td width="142">&nbsp;</td>
                                                    <td width="104">\180,000</td>
                                                    <td width="161">JLPT/N3</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">&nbsp;</td>
                                                    <td width="142">&nbsp;</td>
                                                    <td width="104">\280,000</td>
                                                    <td width="161">JLPT/N2、N1</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">&nbsp;</td>
                                                    <td width="142">&nbsp;</td>
                                                    <td width="104">月給1.6ケ月</td>
                                                    <td width="161">特定技能</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>
                                            ＊1 紹介手数料徴収代行サービス<br>
                                            国外にわたる職業紹介が成約した際にご利用者様が国外・取次機関に支払う紹介手数料等、及び国内にわたる職業紹介が成約した際にご利用者様が国内・職業紹介事業者に支払う情報提供料について、株式会社YHグローブは所定の国外・取次機関及び国内・職業紹介事業者と合意の下、徴収代行サービスを行っています。
                                        </p>
                                        <p>紹介手数料等及び情報提供料についても、Nihon Workサービス利用料とあわせて株式会社YHグローブがご請求いたしますので、あわせてお支払いください。</p>
                                        <p>これは、契約者によるベトナムへの日本円の送金手続き負担を回避するためのサービスです。</p>
                                        <p>なお、紹介手数料及び情報提供料は、職業紹介が成約し、求職者が入社された月のご請求とさせて頂きます。</p>
                                        <p>&nbsp;</p>
                                        <p>
                                            ＊2 紹介手数料または情報提供料<br>
                                            国外にわたる職業紹介における紹介手数料は消費税対象外、国内の職業紹介における情報提供料は消費税対象となります。
                                        </p>
                                        <p>以上</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><u>Nihon Work</u><u>利用申込書（新規）</u></p>
                                        <p>&nbsp;</p>
                                        <p>申込年月日　　　　年　　月　　日</p>
                                        <p>(申込先)</p>
                                        <p>株式会社YHグローブ&nbsp; 宛</p>
                                        <p>(申込者)</p>
                                        <p>住&nbsp; 所</p>
                                        <p>会社名</p>
                                        <p>代表者　　　　　　　　　　　　印</p>
                                        <p>&nbsp;</p>
                                        <p>「Nihon Work利用規約」に同意し、以下のサービスの利用申込（新規）をいたします。</p>
                                        <p>&nbsp;</p>
                                        <p>１．利用サービス及び利用料金</p>
                                        <p><strong>&nbsp;</strong></p>
                                        <table width="516">
                                            <tbody>
                                                <tr>
                                                    <td width="168">利用サービス</td>
                                                    <td width="197">料金料金</td>
                                                    <td width="151">備考</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">
                                                        基本サービス<p></p>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                    <td width="197">利用規約別紙C料金表の通り</td>
                                                    <td width="151">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">
                                                        紹介手数料<p></p>
                                                        <p>徴収代行サービス</p>
                                                    </td>
                                                    <td width="197">利用規約別紙C料金表の通り</td>
                                                    <td width="151">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="168">
                                                        &nbsp;<p></p>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                    <td width="197">&nbsp;</td>
                                                    <td width="151">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p><strong>&nbsp;</strong></p>
                                        <p>&nbsp;</p>
                                        <p>２．利用期間</p>
                                        <p>年　　月　　日　～　　　年　　月　　日</p>
                                        <p>&nbsp;</p>
                                        <p>３．ご連絡先</p>
                                        <p>(1) 有料職業紹介事業者許可番号</p>
                                        <p>（2）部署名</p>
                                        <p>（3）ご担当者/利用責任者名</p>
                                        <p>（4）ご住所</p>
                                        <p>（5）電話/FAX</p>
                                        <p>（6）e-mail</p>
                                        <p>※　申込み承諾の通知は、上記メールアドレス宛にe-mailにより発信します</p>
                                        <p>&nbsp;</p>
                                        <p>４．特記事項</p>
                                        <p>&nbsp;</p>
                                        <p>利用規約第１０条に基づき、利用申込者は指定の取次機関（国外）及び職業紹介事業者（国内）との業務提携契約を締結する。</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
                                        <p>＜本申込に関する問い合わせ及び申込書郵送先＞</p>
                                        <p>住所　　：　〒231-0035 神奈川県横浜市中区千歳町1-2 横浜THビル3F</p>
                                        <p>電話/FAX：&nbsp; 045-325-7589</p>
                                        <p>e-mail　：&nbsp; information-of-nihonwork-support@yhglobe.com</p>
                                        <p><u>Nihon Work</u><u>利用の変更申込書</u></p>
                                        <p>&nbsp;</p>
                                        <p>申込年月日　　　　年　　月　　日</p>
                                        <p>(申込先)</p>
                                        <p>株式会社YHグローブ&nbsp; 宛</p>
                                        <p>(申込者)</p>
                                        <p>住&nbsp; 所</p>
                                        <p>会社名</p>
                                        <p>代表者　　　　　　　　　　　印</p>
                                        <p>&nbsp;</p>
                                        <p>Nihon Workのサービス利用に関して、以下の変更を申し込みます。</p>
                                        <p>&nbsp;</p>
                                        <p>１．変更内容</p>
                                        <p>&nbsp;</p>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td width="193">項目</td>
                                                    <td width="193">変更前</td>
                                                    <td width="193">変更後</td>
                                                </tr>
                                                <tr>
                                                    <td width="193">
                                                        &nbsp;<p></p>
                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                    <td width="193">&nbsp;</td>
                                                    <td width="193">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>２．変更希望日</p>
                                        <p>年　　月　　日　～</p>
                                        <p>&nbsp;</p>
                                        <p>３．特記事項</p>
                                        <p>&nbsp;</p>
                                        <p>++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
                                        <p>＜本申込に関する問い合わせ及び申込書郵送先＞</p>
                                        <p>住所　　：　〒231-0035 神奈川県横浜市中区千歳町1-2 横浜THビル3F</p>
                                        <p>電話/FAX：&nbsp; 045-325-7589</p>
                                        <p>e-mail　：&nbsp; <a href="mailto:information-of-nihonwork-support@yhglobe.com">information-of-nihonwork-support@yhglobe.com</a></p>
                                        <p>&nbsp;</p>
                                        <p><u>Nihon Work</u><u>利用の解約申込書</u></p>
                                        <p>&nbsp;</p>
                                        <p>申込年月日　　　　年　　月　　日</p>
                                        <p>(申込先)</p>
                                        <p>株式会社YHグローブ&nbsp; 宛</p>
                                        <p>(申込者)</p>
                                        <p>住&nbsp; 所</p>
                                        <p>会社名</p>
                                        <p>代表者　　　　　　　　　　　印</p>
                                        <p>&nbsp;</p>
                                        <p>「Nihon Work利用規約」第１６条（契約者からの利用契約の解約）に基づき、以下の通りNihon Workサービス利用の解約を申し込みます。</p>
                                        <p>&nbsp;</p>
                                        <p>１．解約希望日（申込み日から14日目以降）</p>
                                        <p>&nbsp;</p>
                                        <p>年　　月　　日</p>
                                        <p>&nbsp;</p>
                                        <p>２．解約の理由</p>
                                        <p>&nbsp;</p>
                                        <p>３．特記事項</p>
                                        <p>&nbsp;</p>
                                        <p>++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
                                        <p>＜本申込に関する問い合わせ及び申込書郵送先＞</p>
                                        <p>住所　　：　〒231-0035 神奈川県横浜市中区千歳町1-2 横浜THビル3F</p>
                                        <p>電話/FAX：&nbsp; 045-325-7589</p>
                                        <p>e-mail　：&nbsp; <a href="mailto:information-of-nihonwork-support@yhglobe.com">information-of-nihonwork-support@yhglobe.com</a></p>
                                        <p>&nbsp;</p>

                                    </div>
                                </article>
                            </div><!-- .entry-content -->
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!--begin::Base Scripts -->
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
</body>
<!-- end::Body -->
</html>
