﻿@using Manager.WebApp.Resources
@using Manager.SharedLibs
@model Manager.WebApp.Models.ScheduleUpdateModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        @if (Model != null)
        {
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    @ManagerResource.LB_WORKING_SCHEDULE
                </h5>
                <button type="button" class="close btn-close-preview" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>

            <div class="modal-body">                
                @RenderDetail()
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-info btn-close-preview"><i class="fa fa-times"></i> @ManagerResource.LB_CLOSE</button>
            </div>

        }
        else
        {
            <form class="no-margin form-horizontal">
                <div class="modal-header">
                    <h5 class="modal-title" id="">
                        @ManagerResource.LB_SCHEDULE_UPDATE
                    </h5>
                    <button type="button" class="close btn-close-preview" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <h4><i class="fa fa-warning"></i> @ManagerResource.LB_HAS_NO_DATA</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-info btn-close-preview"><i class="fa fa-times"></i> @ManagerResource.LB_CLOSE</button>
                </div>
            </form>
        }

    </div>
</div>

@helper RenderDetail()
{
var isOther = false;
var clsStr = "brand";
if (Model.sd_schedule_cat == (int)EnumScheduleCategory.Meeting)
{
    clsStr = "danger";
}
else if (Model.sd_schedule_cat == (int)EnumScheduleCategory.Guest)
{
    clsStr = "primary";
}
else if (Model.sd_schedule_cat == (int)EnumScheduleCategory.Sales)
{
    clsStr = "warning";
}
    <!--begin:: Widgets/Company Summary-->
    <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__body">
            <div class="m-widget13">
                <div class="m-widget13__item">
                    <span class="m-widget13__desc m--align-right">
                        @ManagerResource.LB_SCHEDULE_CAT
                    </span>
                    <span class="m-badge m-badge--@clsStr m-badge--wide m-badge--rounded mt10" style="font-size:1rem;">
                        @foreach (var item in Enum.GetValues(typeof(EnumScheduleCategory)))
                        {
                            var chkItem = (int)item;
                            var chkStr = string.Empty;
                            if (chkItem == Model.sd_schedule_cat)
                            {
                                chkStr = "selected";

                                if (chkItem == (int)EnumScheduleCategory.Others)
                                {
                                    isOther = true;
                                }

                                @EnumExtensions.GetEnumDescription((Enum)item)
                            }
                        }
                    </span>
                    @*<span class="m-widget13__text text-@clsStr">
                        @foreach (var item in Enum.GetValues(typeof(EnumScheduleCategory)))
                        {
                            var chkItem = (int)item;
                            var chkStr = string.Empty;
                            if (chkItem == Model.sd_schedule_cat)
                            {
                                chkStr = "selected";

                                if (chkItem == (int)EnumScheduleCategory.Others)
                                {
                                    isOther = true;
                                }

                                @EnumExtensions.GetEnumDescription((Enum)item)
                            }
                        }
                    </span>*@
                </div>

                @if (!Model.isShortCutPreview)
                {
                    <div class="m-widget13__item">
                        <span class="m-widget13__desc m--align-right">
                            @ManagerResource.LB_PERSON_IN_CHARGE
                        </span>
                        <span class="m-widget13__text">
                            @if (Model.StaffList.HasData())
                            {
                                foreach (var st in Model.StaffList)
                                {
                                    if (Model.sd_pic_id == st.StaffId)
                                    {
                                        @st.FullName
                                    }
                                }
                            }
                        </span>
                    </div>
                }

                @if (isOther && !string.IsNullOrEmpty(Model.sd_title))
                {
                    <div class="m-widget13__item">
                        <span class="m-widget13__desc m--align-right">
                            @ManagerResource.LB_TITLE
                        </span>
                        <span class="m-widget13__text">
                            @Model.sd_title
                        </span>
                    </div>
                }

                <div class="m-widget13__item">
                    <span class="m-widget13__desc m--align-right">
                        @ManagerResource.LB_FROM_DATE
                    </span>
                    <span class="m-widget13__text">
                        @Model.sd_start_time
                    </span>
                </div>

                <div class="m-widget13__item">
                    <span class="m-widget13__desc m--align-right">
                        @ManagerResource.LB_TO_DATE
                    </span>
                    <span class="m-widget13__text">
                        @Model.sd_end_time
                    </span>
                </div>

                <div class="m-widget13__item">
                    <span class="m-widget13__desc m--align-right">
                        @ManagerResource.SCHEDULE_CONTENT
                    </span>
                    <span class="m-widget13__text">
                        @Html.RawHtmlCustom(Model.sd_content)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--end:: Widgets/Company Summary-->
}

<script>
    $(".btn-close-preview").click(function () {
        $("#myModal").modal("hide");
        $('#updateScheduleModal').modal('hide')
    });
</script>
