﻿@model int

<div class="modal-header">
    <h5 class="modal-title" id="">
        削除してもよろしいでしょうか！
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model" />

    <div class="modal-footer">
        <button type="submit" class="btn btn-info btn-sm">
            <i class="fa fa-trash"></i> 削除
        </button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <i class="fa fa-remove"></i> キャンセル
        </button>
    </div>
}