﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.TeacherUpdateModel

@Html.AntiForgeryToken()

@{
    var dateBirth = Model.DateBirth != null ? Model.DateBirth.Value.ToString("yyyy-MM-dd") : null;
}

<div class="m-portlet__body">
    <div class="form-group m-form__group row">
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                氏名 <span class="m--font-danger"> * </span>:
            </label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control m-input", placeholder = "名前を入力してください" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        
    </div>

    <div class="form-group m-form__group row">
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                電話番号:
            </label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control m-input", @type = "text", placeholder = "電話番号を入力してください", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                メールアドレス <span class="m--font-danger"> * </span>:
            </label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @type = "email", placeholder = "メールアドレスを入力してください" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-xl-8 col-sm-6">
            <label class="form-control-label">
                住所:
            </label>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control m-input" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group m-form__group row">
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                生年月日:
            </label>
            <div class="row">
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.DateBirth, new { @class = "form-control m-input", Type = "date", Value = dateBirth })
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                性別:
            </label>
            <div class="m-radio-inline">
                <label class="m-radio m-radio--check-bold m-radio--state-success">
                    <input type="radio" checked name="Gender" value="1" @(Model.Gender == (int)EnumGender.Famale ? "checked" : string.Empty)>
                    男
                    <span></span>
                </label>
                <label class="m-radio m-radio--check-bold m-radio--state-success">
                    <input type="radio" name="Gender" value="2" @(Model.Gender == (int)EnumGender.Male ? "checked" : string.Empty)>
                    女
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    @*<div class="form-group m-form__group row">
        <div class="col-xl-12">
            <fieldset class="pb20">
                <legend class="legend-ctrl">
                    アカウント作成 <i class="fa fa-angle-up"></i>
                </legend>

                <div class="fieldset-content" style="">
                    <div class="row">
                        <div class="col-xl-4 form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "form-control-label" }) <span class="required-input">*</span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-warning m-input", autocomplete = "new-password" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xl-4 form-group">
                            <label for="">
                                @ManagerResource.LB_ROLES_ASSIGNED:
                            </label>
                            <div class="m-radio-inline">
                                @if (Model != null && Model.RolesList != null && Model.RolesList.Count() > 0)
                                {
                                    foreach (var item in Model.RolesList)
                                    {
                                        <label class="m-radio">
                                            <input type="radio" name="Role" value="@item.Value">
                                            @item.Text
                                            <span></span>
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "form-control-label" }) <span class="required-input">*</span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xl-4 form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-warning m-input" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>*@
</div>

<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <div class="row">
            <div class="col-12 text-left">
                <button type="submit" class="btn btn-sm btn-info">
                    <i class="fa fa-check"></i>
                    保存
                </button>
                <a type="reset" class="btn btn-sm btn-secondary" href="@Url.Action("Index", "Teacher")">
                    <i class="fa fa-mail-reply"></i>
                    戻る
                </a>
            </div>
        </div>
    </div>
</div>