﻿@model Manager.WebApp.Models.ManageTeacherModel

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

@{
    ViewBag.Title = "先生リスト";
}

<div class="m-portlet" m-portlet="true" id="FormSearchTool">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-search"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    検索
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="javascript:;" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_SearchForm", Model)
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-list-alt" style="color:#1A3365 !important"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    @ViewBag.Title
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row mb10">
            <div class="col-xl-1 col-sm-2 col-3">
                <form action="/Teacher" method="get" class="m-form m-form--fit" id="form-pagesize">
                    <input type="hidden" name="Keyword" value="@(Model.Keyword)" />
                    <select id="pagesize" name="PageSize" class="form-control form-control-sm">
                        <option value="5" @(Model.PageSize == 5 ? "selected" : "")>5</option>
                        <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                        <option value="20" @(Model.PageSize == 20 ? "selected" : "")>20</option>
                        <option value="30" @(Model.PageSize == 30 ? "selected" : "")>30</option>
                    </select>
                </form>
            </div>
            <div class="col-xl-11 col-sm-10 col-9 text-right">
                <a class="btn btn-white btn-sm btn-info" href="/Teacher/Create">
                    <i class="fa fa-plus"></i> 追加
                </a>
            </div>
        </div>
        <div class="m-section">
            <div class="m-section__content">
                <table class="table m-table table-bordered table-hover m-table--border-metal table-responsive-xl">
                    <thead>
                        <tr>
                            <th class="text-center" width="50">#</th>
                            <th class="text-center">氏名</th>
                            <th class="text-center" width="150">生年月日</th>
                            <th class="text-center" width="150">性別</th>
                            <th class="text-center">メールアドレス</th>
                            <th class="text-center" width="200">電話番号</th>
                            <th class="text-center" width="150">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-nowrap">
                        @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                        {
                            var stt = 0;
                            foreach (var record in Model.SearchResults)
                            {
                                stt++;

                                <tr>
                                    <td class="text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                                    <td>
                                        @record.Name
                                    </td>
                                    <td class="text-center">@(record.DateBirth != null ? record.DateBirth.Value.ToString("dd/MM/yyyy") : null)</td>
                                    <td>
                                        @{
                                            var gender = string.Empty;

                                            if (record.Gender == (int)EnumGender.Famale)
                                            {
                                                gender = "男";
                                            }
                                            if (record.Gender == (int)EnumGender.Male)
                                            {
                                                gender = "女";
                                            }
                                        }
                                        @gender
                                    </td>
                                    <td>@record.Email</td>
                                    <td>@record.Phone</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <a href="javascript;" class="btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                               @* <a class="dropdown-item btn m-btn m-btn--hover-warning" data-href="" data-modal="" data-size="default">
                                                    <i class="fa fa-eye"></i> Chi tiết
                                                </a>*@
                                                <a class="dropdown-item btn m-btn m-btn--hover-warning" href="@Url.Action("Edit", "Teacher", new { id = record.Id})" data-size="default">
                                                    <i class="fa fa-pencil-square-o"></i> 編集
                                                </a>
                                                <a class="dropdown-item btn m-btn m-btn--hover-warning" href="javascript" data-href="@Url.Action("Delete", "Teacher", new { id = record.Id })" data-modal="" data-size="default">
                                                    <i class="la la-trash"></i> 削除
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                        else
                        {

                            <tr>
                                <td colspan="11">
                                    レコードがありません
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            @RenderPaging()

        </div>
    </div>
</div>

@helper RenderPaging()
{

    <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            @if (Model.WasOverRecordsInPage())
            {

                @Html.BootstrapPager(Model.CurrentPage, index => Url.Action("Index", "Teacher",
                     new
                     {
                         Page = index,
                         Keyword = Model.Keyword,
                         PageSize = Model.PageSize
                     }),
                     Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10)}

            @if (Model.TotalCount > 0)
            {

                <div class="m-datatable__pager-info">
                    <span class="m-datatable__pager-detail">
                        全 @Model.TotalCount レコード @Model.StartCount() 〜 @Model.EndCount(Model.SearchResults.Count())件を表示中
                    </span>
                </div>}

        </div>
    </div>
}

@section PageInlineStyles
    {
    <style>
        .table-hover tbody tr:hover {
            background-color: #f0f0f0 !important;
        }

        .m-table.m-table--border-metal, .m-table.m-table--border-metal td, .m-table.m-table--border-metal th {
            border-color: #5759622b;
        }
    </style>
}

@section PageInlineScripts
 {
    <script>
        $(document).ready(function () {
            $('#pagesize').on('change', function () {
                $('#form-pagesize').submit();
            })
        });
    </script>
}