﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.AgencyRegisterModel


@{
    Layout = null;
}

<html>
<body style="color:grey; font-size:15px;">
    <font face="Helvetica, Arial, sans-serif" />
    <div>
        <p>
            @Model.Company <br />
            @(Model.Name)様
        </p>

        <p>
            この度は、Nihon Workお試し利用申込みを頂き、誠にありがとうございます。<br />
            申込みを受付けましたのでご連絡申し上げます。
        </p>

        <p>
            簡単な審査後、2営業日以内に「利用開始ご案内」を以下の <br />
            メールアドレスに送信させて頂きます。<br />
            @Model.Email
        </p>

        <p>
            本メールはシステムからの自動送信であり、返信は頂けません。<br />
            お問い合わせは以下のメールアドレスまで連絡ください。<br />
            日本総代理店 <br />
            株式会社YHグローブ <br />
            information-of-japanwork-support@yhglobe.com <br />
            <br />
            Nihon Workの開発及びライセンス所有社 <br />
            contact@nihon-work.com
        </p>
    </div>
</body>

</html>