﻿@using Manager.WebApp.Resources;
@using Manager.SharedLibs;
@model Manager.WebApp.Models.ClassScheduleUpdateModel

@{
    var StartTime = Model.StartTime.HasValue ? Model.StartTime.Value.ToString("HH:mm") : null;
    var EndTime = Model.EndTime.HasValue ? Model.EndTime.Value.ToString("HH:mm") : null;
    var ListTeachers = HelperTeacher.GetList();

    ViewBag.Title = Model.Name;
}

<style>
    .modal {
        padding: 0 !important;
    }

    .modal-dialog {
        width: 100% !important;
        max-width: none !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .modal-content {
        height: 100vh !important;
        border: 0 !important;
        border-radius: 0 !important;
    }

    .modal-body {
        max-height: calc(100vh - 110px);
        overflow-y: auto !important;
    }
</style>

<div class="modal-header text-center">
    <h5 class="modal-title w-100">
        @ViewBag.Title
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-md-4">
                    <label>先生</label>
                    <select class="form-control details-day" name="TeacherId" disabled>
                        @if (ListTeachers.HasData())
                        {
                            foreach (var record in ListTeachers)
                            {
                                <option value="@record.Id" @(Model.TeacherId == record.Id ? "selected" : "")>@record.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <label>授業開始</label>
                    <input type="time" class="form-control details-day" value="@StartTime" name="OpenTime" disabled />
                </div>
                <div class="col-md-4">
                    <label>授業終了</label>
                    <input type="time" class="form-control details-day" value="@EndTime" name="CloseTime" disabled />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>授業内容</label>
            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", rows = "4", disabled = "disabled" })
        </div>
        <div class="col-md-6">
            <label>ノート</label>
            @Html.TextAreaFor(m => m.Note, new { @class = "form-control", rows = "4", disabled = "disabled" })
        </div>
    </div>
    <div class="m-separator m-separator--dashed m-separator"></div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table id="tb-details-day" class="table m-table table-bordered table-hover m-table--border-metal">
                <thead>
                    <tr>
                        <th class="text-center" data-width="5" data-width-unit="%">#</th>
                        <th class="text-center">生徒名</th>
                        <th class="text-center">授業内容</th>
                        <th class="text-center">ノート</th>
                        <th class="text-center" data-width="5" data-width-unit="%">出席</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                    {
                        var stt = 0;
                        foreach (var record in Model.SearchResults)
                        {
                            stt++;

                            <tr class="rpt-item-container">
                                <td class="text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                                <td class="text-left">
                                    @record.Name
                                </td>
                                <td>
                                    <textarea name="ListAttendances[@(stt - 1)][Comment]" class="form-control std-comment" rows="3" disabled>@record.Comment</textarea>
                                </td>
                                <td>
                                    <textarea name="ListAttendances[@(stt - 1)][Note]" class="form-control std-note" rows="3" disabled>@record.Note</textarea>
                                </td>
                                <td class="text-center">
                                    <label class="m-checkbox m-checkbox--state-success">
                                        <input type="checkbox" data-id="@record.Id" name="ListAttendances[@(stt - 1)][Status]" @(record.Attendance == 1 ? "checked" : "") disabled>
                                        <span></span>
                                    </label>
                                </td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11">
                                @ManagerResource.LB_NO_RECORD
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
        <i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL
    </button>
</div>
