﻿@using Manager.SharedLibs;

@model Manager.WebApp.Models.ManageHomeModel

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

@{
    ViewBag.Title = "スケジュール";
    var ListTeachers = HelperTeacher.GetList();
}

<div class="hidden" id="html-teacher">
    <select class="form-control select-teacher select2">
        <option value="0">先生を選択してください</option>
        @if (ListTeachers.HasData())
        {
            foreach (var record in ListTeachers)
            {
                <option value="@record.Id">@record.Name</option>
            }
        }
    </select>
</div>

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-list-alt" style="color:#1A3365 !important"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    @ViewBag.Title
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-12">
                <div id="m_calendar"></div>
            </div>
        </div>
    </div>
</div>


@section PagePluginStyles
{
    <link href="@Url.VersionedContent("~/Content/Plugins/Fullcalendar/fullcalendar.bundle.css")" rel="stylesheet" />
}

@section PageInlineStyles{
    <style>
        .select-teacher {
            width: auto !important;
        }

        @@media (max-width: 1024px) {
            .select-teacher {
                float: none !important;
                display: inline-block;
            }
        }
        @*============Table===========*@
        .table-hover tbody tr:hover {
            background-color: #f0f0f0 !important;
        }

        .m-table.m-table--border-metal, .m-table.m-table--border-metal td, .m-table.m-table--border-metal th {
            border-color: #5759622b;
        }
        @*=========Event===========*@
        .cursor {
            cursor: pointer !important;
        }
        @*=========PopOver==========*@
        .popover {
            width: 300px !important;
            max-width: unset !important;
            box-shadow: 0px 20px 15px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
            border: unset;
            font-family: 'Roboto', sans-serif;
        }
        .popover .popover-header {
            background: #fff;
            border-bottom: unset !important;
        }
        .popover .popover-body {
            padding: 1.25rem 0.75rem !important;
        }

        .pop .pop-icon {
            text-align: center;
        }

        .pop .pop-icon i {
            font-size: 20px;
        }

        .pop .pop-content {
            font-size: 15px;
            color: #3c4043 !important;
        }
    </style>
}

@section PagePluginScripts
 {
    <script src="~/Scripts/Plugins/Fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Scripts/select2.js"></script>
}

@section PageInlineScripts{
    <script>

        function ClearEvents() {
            $('#m_calendar').fullCalendar('removeEvents');
        }

        function RefreshEvents() {
            $("#m_calendar").fullCalendar("refetchEvents");
        }

        function AddEvents(events) {
            $('#m_calendar').fullCalendar('addEventSource', events);
        }

        function RenderEvents() {
            $('#m_calendar').fullCalendar('rerenderEvents');
        }

        $(document).ready(function () {
            var dataFilter = 0;
            //call calendar
            SetupCalendar();

            // Add filter teacher
            $('.fc-left').append($('#html-teacher').html());
            $('.select2').select2();

            function Filter(data) {
                $.ajax({
                    url: '/Home/GetSchedule/',
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            var title = data.Teacher.Name;
                            var description = '時間: ' + moment(data.StartTime).format("HH:mm") + '~' + moment(data.EndTime).format("HH:mm");

                            events.push(
                                {
                                    id: data.Id,
                                    teacherId: data.Teacher.Id,
                                    title: title,
                                    classInfo: data.Class,
                                    className: "m-fc-event--danger m-fc-event--solid-info cursor",
                                    description: description,
                                    start: moment(data.StartTime).format("YYYY/MM/DD HH:mm:s"),
                                    end: moment(data.EndTime).format("YYYY/MM/DD HH:mm:s"),
                                    backgroundColor: data.Teacher.Color,
                                });
                        });

                        ClearEvents();
                        AddEvents(events);
                        RenderEvents();
                    }
                });
            }

            function GetForm(url) {
                var link = document.createElement('a');
                link.href = "javascript:;";
                link.setAttribute("data-modal", "");
                link.setAttribute("data-href", url);
                document.body.appendChild(link);
                link.click();
            }

            function GetEventsByAjax(callback) {

                var data = [
                    { name: 'TeacherId', value: dataFilter },
                ];

                $.ajax({
                    url: '/Home/GetSchedule/',
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            var title = data.Teacher.Name;
                            var description = '時間: ' + moment(data.StartTime).format("HH:mm") + '~' + moment(data.EndTime).format("HH:mm");

                            events.push(
                                {
                                    id: data.Id,
                                    teacherId: data.Teacher.Id,
                                    title: title,
                                    classInfo : data.Class,
                                    className: "m-fc-event--danger m-fc-event--solid-info cursor",
                                    description: description,
                                    start: moment(data.StartTime).format("YYYY/MM/DD HH:mm:s"),
                                    end: moment(data.EndTime).format("YYYY/MM/DD HH:mm:s"),
                                    backgroundColor: data.Teacher.Color,
                                });
                        });

                        callback(events);
                    }
                });
            }

            //CALENDAR
            function SetupCalendar() {
                $("#m_calendar").fullCalendar({
                    header: { left: "prev,next today", center: "title", right: "month,agendaWeek" },
                    buttonText: {
                        today: '本日',
                        month: '月',
                        week: '週',
                        day: '日'
                    },
                    titleFormat: 'MMMM YYYY',
                    editable: false,
                    eventDurationEditable: false,
                    eventLimit: !0,
                    navLinks: !0,
                    selectable: false,
                    defaultView: 'agendaWeek',
                    displayEventTime: true,
                    scrollTime: '08:00',
                    events: function (start, end, timezone, callback) {

                        ClearEvents();
                        GetEventsByAjax(callback);

                    },

                    eventClick: function (calEvent, jsEvent, view) {

                        var id = $(this).data('id');
                        var url = '/Home/DetailClassDaySchedule?Id=' + id;

                        GetForm(url);
                    },

                    eventRender: function (event, element) {
                        //custom
                        $(element).attr("data-id", event.id);
                        $(element).attr("data-teacherid", event.teacherId);
                        var popContent = `<div id="popoverContent" class="pop">
                                                <div class="row form-group">
                                                    <div class="col-3 pop-icon">
                                                        <i class="fa fa-university"></i>
                                                    </div>
                                                    <div class="col-9 pop-content">
                                                        <span>${event.classInfo != null ? event.classInfo.Name : ""}</span>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-3 pop-icon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <div class="col-9 pop-content">
                                                        <span> ${moment(event.start).format("HH:mm")} ~ ${moment(event.end).format("HH:mm")}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3 pop-icon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                    <div class="col-9 pop-content">
                                                        <span>${event.title}</span>
                                                    </div>
                                                </div>
                                           </div>`;
                        element.popover({
                            title: "",
                            content: function () {
                                $(".popover.show").popover("hide");

                                return popContent;
                            },
                            placement: 'left',
                            html: true,
                            trigger: 'hover',
                            animation: true,
                            container: 'body'
                        });
                    },
                    monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],

                    monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],

                    dayNames: ['日', '月', '火', '水', '木', '金', '土'],

                    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],

                    @*timeFormat: 'h:mm',*@
                });
            }

            $(document).on('change', '.select-teacher', function () {
                var teacherId = $(this).val();
                dataFilter = teacherId;

                var data = [
                    { name: 'TeacherId', value: teacherId },
                ];

                Filter(data);
            });

            //Modalshow on resize table
            $('#myModal').on('shown.bs.modal', function (e) {
                resizeTable();
            })

            function resizeTable() {
                if (!isMobile) {
                    var columns = [];
                    var data = [];
                    var tblHeight = $("#tb-details-day").height();
                    var maxHeight = 600;
                    if (tblHeight < 600) {
                        maxHeight = undefined;
                    }
                    $("#tb-details-day").bootstrapTable('destroy').bootstrapTable({
                        height: maxHeight,
                        columns: columns,
                        data: data,
                        toolbar: '.toolbar',
                        search: false,
                        showColumns: true,
                        showToggle: true,
                        clickToSelect: true,
                        fixedColumns: true,
                        fixedNumber: 2,
                        fixedRightNumber: 1,
                        //stickyHeader: true
                    })
                }
            }
        })
    </script>
}