﻿@using Manager.WebApp.Resources
@using Manager.SharedLibs
@model Manager.WebApp.Models.TaxUpdateModel

@Html.AntiForgeryToken()

@{
    var totalTaxValues = (Model.TaxValues != null) ? Model.TaxValues.Count() : 0;
}

<div class="m-portlet__body">
    @{
        var changeValue = string.Empty;
        if (Model.IsUpdateValue && Model.Id > 0)
        {
            changeValue = "disabled";
        }
    }
<div id="taxvaluesRpt">
    <div class="form-group m-form__group row">
        <div data-repeater-list="TaxValues" class="col-lg-9">
            @if (totalTaxValues > 0)
            {
                for (int i = 0; i < totalTaxValues; i++)
                {
                    <div data-repeater-item class="rpt-item-container row form-group">
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <label class="mt10">税率</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control m-input rp-input-default-new text-right tax-value taxvalue-group rpt-taxvalue-input taxvalue-provider2ft number-format" type="text" name="Value" value="@Model.TaxValues[i].Value.ToLocaleString()" data-default="0" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <label class="mt10">適用開始日</label>
                            </div>
                            <div class="col-md-12">
                                <input autocomplete="off" class="form-control m-input rp-input-default-new text-right taxvalue-group" type="date" name="FromDate" value="@(Model.TaxValues[i].FromDate.DateTimeNullableToString("yyyy-MM-dd"))" data-default="" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-12">
                                <label class="mt10">適用終了日</label>
                            </div>
                            <div class="col-md-12">
                                <input autocomplete="off" class="form-control m-input rp-input-default-new text-right taxvalue-group" type="date" name="ToDate" value="@(Model.TaxValues[i].ToDate.DateTimeNullableToString("yyyy-MM-dd"))" data-default="" />
                            </div>
                        </div>

                        
                        <hr />
                    </div>
                }
            }
        </div>
        <div class="col-lg-3 mt20 pl-5">
            <label></label>
            <div class="col-md-12 m-checkbox-inline">
                <label class="m-checkbox">
                    <input name="@Html.NameFor(m => m.Status)" @(Model.Status == 1 ? "checked" : string.Empty) value="1" type="checkbox">
                    @ManagerResource.LB_ACTIVE
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</div>

    <div class="form-group m-form__group row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-info btn-sm btn-submit-tax">
                <i class="fa fa-floppy-o"></i> @ManagerResource.LB_SAVE
            </button>
            <a class="btn btn-outline-info btn-sm" href="@Url.Action("Index", "Tax")"><i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL</a>
        </div>
    </div>
</div>