﻿@using Manager.WebApp.Resources
@using Manager.WebApp.Models
@model Manager.WebApp.Models.TaxUpdateModel

@{ ViewBag.Title = ManagerResource.LB_ADD_NEW; }

@Html.Partial("_Notifications")

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-plus text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ManagerResource.LB_ADD_NEW
                        </h3>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Create", "Tax", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form", id="frmTaxUpdate" }))
            {
                @Html.Partial("_UpdateForm", Model)            
            }
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PagePluginStyles
{

}

@section PagePluginScripts
 {    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/Tax/update.js"></script>
}