﻿@using Manager.SharedLibs;
@using Manager.WebApp.Resources;
@model Manager.WebApp.Models.ManageTaxModel

@{ ViewBag.Title = "Tax"; }


@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

<div class="m-portlet" m-portlet="true" id="FormSearchTool">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="fa fa-search"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    検索条件
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="javascript:;" m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
                        <i class="la la-angle-down"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_SearchForm", Model)
</div>

<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row mb10">
            <div class="col-lg-12 text-right">
                <a class="btn btn-white btn-sm btn-info" href="/Tax/Create" title="@ManagerResource.BT_ADD">
                    <i class="fa fa-plus"></i> @ManagerResource.BT_ADD
                </a>
            </div>
        </div>

        <div class="m-section">
            <div class="m-section__content table-responsive">
                <table id="sample-table-1" class="table m-table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center text-bold" width="50">#</td>
                            <td class="text-center text-bold">税率</td>
                            <td class="text-center text-bold">適用開始日</td>
                            <td class="text-center text-bold">適用終了日</td>
                            <td class="text-center text-bold">@ManagerResource.LB_STATUS</td>
                            <td class="text-center text-bold">@ManagerResource.LB_ACTION</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                        {
                            var stt = 0;
                            foreach (var record in Model.SearchResults)
                            {
                                stt++;

                                var activeValues = record.GetActiveValues();
                                var hasValues = activeValues.HasData();
                                if (hasValues)
                                {
                                    var applyingValue = record.GetApplyingValue();
                                    <tr>
                                        <td class="text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                                        <td class="text-right">
                                            @if (applyingValue != null)
                                            {
                                                <span>@applyingValue.Value.ToLocaleString() %</span>
                                            }
                                        </td>
                                        @foreach (var item in activeValues.Take(1))
                                        {
                                            var startDate = item.FromDate.HasValue ? item.FromDate.DateTimeNullableToString("yyyy/MM/dd") : string.Empty;
                                            var endDate = item.ToDate.HasValue ? item.ToDate.DateTimeNullableToString("yyyy/MM/dd") : string.Empty;
                                            <td class="text-center">@startDate</td>
                                            <td class="text-center">@endDate</td>
                                        }
                                        <td class="text-center">
                                            @Html.Partial("../Widgets/_Status", record.Status)
                                        </td>
                                        <td class="text-center">
                                            @{
                                                var newModel = Model;
                                                newModel.Id = record.Id;
                                                newModel.SearchExec = "Y";
                                            }
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" href="@Url.Action("Edit", "Tax", new { id = record.Id,SearchExec = 'Y',Page = Model.CurrentPage,Keyword = Model.Keyword,Status=Model.Status })" title="@ManagerResource.LB_EDIT">
                                                <i class="la la-pencil"></i>
                                            </a>
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" href="javascript" data-href="@Url.Action("Delete", "Tax", new { id = record.Id })" data-modal="" title="@ManagerResource.LB_DELETE">
                                                <i class="la la-trash"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }

                            }
                        }
                        else
                        {

                            <tr>
                                <td colspan="11">
                                    @ManagerResource.LB_NO_RECORD
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            @RenderPaging()

        </div>
    </div>
</div>

@helper RenderPaging()
{
    <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            @if (Model.WasOverRecordsInPage())
            {

                @Html.BootstrapPager(Model.CurrentPage, index => Url.Action("Index", "Tax",
                new
                {
                    Page = index,
                    SearchExec = "Y",
                    Keyword = Model.Keyword
                }),
                Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10)
            }

            @if (Model.TotalCount > 0)
            {
                <div class="m-datatable__pager-info">
                    <span class="m-datatable__pager-detail">
                        @ManagerResource.LB_RECORDS_ALL @Model.TotalCount @ManagerResource.LB_RECORDS @Model.StartCount() 〜 @Model.EndCount(Model.SearchResults.Count()) @ManagerResource.LB_RECORDS_DISPLAY
                    </span>
                </div>
            }
        </div>
    </div>
}

@section PageInlineStyles{

}