﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.BusinessSettingsViewModel

@{
    ViewBag.Title = "Business Settings";
}

@Html.Partial("_Notifications")

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("BusinessSettings", "System", FormMethod.Post, new { id = "frmSettings", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CurrentSettingsType)
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="fa fa-cogs"></i> @ManagerResource.LB_SETTINGS
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <ul class="nav nav-tabs" role="tablist">                       
                        <li class="nav-item m-tabs__item @(Model.CurrentSettingsType == Model.Settings.FTCompany.GetType().Name ? "active" : "")">
                            <a class="nav-link m-tabs__link @(Model.CurrentSettingsType == Model.Settings.FTCompany.GetType().Name ? "active" : "")" data-toggle="tab" href="#@Model.Settings.FTCompany.GetType().Name" role="tab">
                                <i class="fa fa-building"></i>
                                FT Company
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item @(Model.CurrentSettingsType == Model.Settings.FACompany.GetType().Name ? "active" : "")">
                            <a class="nav-link m-tabs__link @(Model.CurrentSettingsType == Model.Settings.FACompany.GetType().Name ? "active" : "")" data-toggle="tab" href="#@Model.Settings.FACompany.GetType().Name" role="tab">
                                <i class="fa fa-building"></i>
                                FA Company
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane @(Model.CurrentSettingsType == Model.Settings.FTCompany.GetType().Name ? "active in" : "")" id="@Model.Settings.FTCompany.GetType().Name" role="tabpanel">
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.Settings.FTCompany.Name)                                   
                                    @Html.TextBoxFor(m => m.Settings.FTCompany.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FTCompany.Name, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.Settings.FTCompany.Phone)                                   
                                    @Html.TextBoxFor(m => m.Settings.FTCompany.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FTCompany.Phone, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.Settings.FTCompany.Email)                                   
                                    @Html.TextBoxFor(m => m.Settings.FTCompany.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FTCompany.Email, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.Settings.FTCompany.Address)                                   
                                    @Html.TextAreaFor(m => m.Settings.FTCompany.Address, new { @class = "form-control", rows = 7 })
                                    @Html.ValidationMessageFor(m => m.Settings.FTCompany.Address, null, new { @class = "text-danger" })
                                </div> 
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.Settings.FTCompany.PostalCode)                                   
                                    @Html.TextBoxFor(m => m.Settings.FTCompany.PostalCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FTCompany.PostalCode, null, new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>

                        <div class="tab-pane @(Model.CurrentSettingsType == Model.Settings.FACompany.GetType().Name ? "active in" : "")" id="@Model.Settings.FACompany.GetType().Name" role="tabpanel">
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.Settings.FACompany.Name)                                   
                                    @Html.TextBoxFor(m => m.Settings.FACompany.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FACompany.Name, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.Settings.FACompany.Phone)                                   
                                    @Html.TextBoxFor(m => m.Settings.FACompany.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FACompany.Phone, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.Settings.FACompany.Email)                                   
                                    @Html.TextBoxFor(m => m.Settings.FACompany.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FACompany.Email, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.Settings.FACompany.Address)                                   
                                    @Html.TextAreaFor(m => m.Settings.FACompany.Address, new { @class = "form-control", rows = 7 })
                                    @Html.ValidationMessageFor(m => m.Settings.FACompany.Address, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.Settings.FACompany.PostalCode)                                   
                                    @Html.TextBoxFor(m => m.Settings.FACompany.PostalCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Settings.FACompany.PostalCode, null, new { @class = "text-danger" })
                                </div>
                            </div>                            
                        </div>                        
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-sm" type="submit">
                                <i class="fa fa-floppy-o"></i>
                                @ManagerResource.LB_SAVE
                            </button>
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
            <!--end::Portlet-->
        }

    </div>
</div>

