﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.SettingsViewModel

@{
    ViewBag.Title = "System Settings";
}

@Html.Partial("_Notifications")

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Settings", "System", FormMethod.Post, new { id = "frmSettings", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CurrentSettingsType)
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="fa fa-cogs"></i> @ManagerResource.LB_SETTINGS
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item m-tabs__item" @(Model.CurrentSettingsType == Model.SystemSestings.General.GetType().Name ? "active" : "")>
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#@Model.SystemSestings.General.GetType().Name" role="tab">
                                <i class="fa fa-globe"></i>
                                General
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item hidden" @(Model.CurrentSettingsType == Model.SystemSestings.Mail.GetType().Name ? "active" : "")>
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#@Model.SystemSestings.Mail.GetType().Name" role="tab">
                                <i class="fa fa-envelope-o"></i>
                                Email
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active @(Model.CurrentSettingsType == Model.SystemSestings.General.GetType().Name ? "active in" : "")" id="@Model.SystemSestings.General.GetType().Name" role="tabpanel">
                            <div class="form-group hidden">
                                @Html.LabelForRequired(m => m.SystemSestings.General.SiteName)
                                @Html.HelpButtonFor(m => m.SystemSestings.General.SiteName, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                <div>
                                    @Html.TextBoxFor(m => m.SystemSestings.General.SiteName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.SystemSestings.General.SiteName) })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.General.SiteName, null, new { @class = "text-danger" })
                                </div>
                            </div>                            
                            <div class="form-group hidden">
                                @Html.LabelForRequired(m => m.SystemSestings.General.StoragePeriodTime)
                                @Html.HelpButtonFor(m => m.SystemSestings.General.StoragePeriodTime, "m-form__heading-help-icon flaticon-info orange-tooltip", "i", "right", "")
                                <div>
                                    @Html.TextBoxFor(m => m.SystemSestings.General.StoragePeriodTime, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.General.StoragePeriodTime, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelForRequired(m => m.SystemSestings.General.WeightOfBox) (kg)
                                <div>
                                    @Html.TextBoxFor(m => m.SystemSestings.General.WeightOfBox, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.General.WeightOfBox, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelForRequired(m => m.SystemSestings.General.TransportFeePerBox) (¥)                             
                                <div>
                                    @Html.TextBoxFor(m => m.SystemSestings.General.TransportFeePerBox, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.General.TransportFeePerBox, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelForRequired(m => m.SystemSestings.General.TimeZoneId)
                                    @Html.HelpButtonFor(m => m.SystemSestings.General.TimeZoneId, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    <div>
                                        @Html.DropDownListFor(m => m.SystemSestings.General.TimeZoneId, Model.TimeZoneList(), "Choose a specific timezone", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SystemSestings.General.TimeZoneId, null, new { @class = "text-danger" })
                                    </div>
                                </div>*@

                        </div>

                        <div class="tab-pane hidden @(Model.CurrentSettingsType == Model.SystemSestings.Mail.GetType().Name ? "active in" : "")" id="@Model.SystemSestings.Mail.GetType().Name" role="tabpanel">
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-6">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.SmtpServer)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.SmtpServer, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.SmtpServer, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.SmtpServer, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.SmtpPort)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.SmtpPort, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.SmtpPort, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.SmtpPort, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    <label for="">
                                        @Html.LabelForRequired(m => m.SystemSestings.Mail.SmtpUseSsl)
                                        @Html.HelpButtonFor(m => m.SystemSestings.Mail.SmtpUseSsl, "m-form__heading-help-icon flaticon-info orange-tooltip", "i", "right", "")
                                    </label>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox">
                                            @Html.CheckBoxFor(m => m.SystemSestings.Mail.SmtpUseSsl)
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.SmtpUsername)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.SmtpUsername, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.SmtpUsername, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.SmtpUsername, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.SmtpPassword)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.SmtpPassword, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.SmtpPassword, new { @class = "form-control", @type = "password" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.SmtpPassword, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.SmtpTimeout)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.SmtpTimeout, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.SmtpTimeout, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.SmtpTimeout, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-12">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.EmailThankCcList)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.EmailThankCcList, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.EmailThankCcList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.EmailThankCcList, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-12">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.EmailActiveCcList)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.EmailActiveCcList, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.EmailActiveCcList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.EmailActiveCcList, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group m-form__group row mb20">
                                <div class="col-lg-12">
                                    @Html.LabelForRequired(m => m.SystemSestings.Mail.EmailActiveAdminCcList)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Mail.EmailActiveAdminCcList, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    @Html.TextBoxFor(m => m.SystemSestings.Mail.EmailActiveAdminCcList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SystemSestings.Mail.EmailActiveAdminCcList, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane @(Model.CurrentSettingsType == Model.SystemSestings.Cache.GetType().Name ? "active in" : "")" id="@Model.SystemSestings.Cache.GetType().Name" role="tabpanel">
                                <div class="form-group">
                                    @Html.LabelForRequired(m => m.SystemSestings.Cache.CacheProvider)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Cache.CacheProvider, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    <div>
                                        @Html.DropDownListFor(m => m.SystemSestings.Cache.CacheProvider, Model.CacheProviderList(), "Choose a specific CacheProvider", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SystemSestings.Cache.CacheProvider, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelForRequired(m => m.SystemSestings.Cache.SystemDefaultCacheDuration)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Cache.SystemDefaultCacheDuration, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    <div>
                                        @Html.TextBoxFor(m => m.SystemSestings.Cache.SystemDefaultCacheDuration, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.SystemSestings.Cache.SystemDefaultCacheDuration) })
                                        @Html.ValidationMessageFor(m => m.SystemSestings.Cache.SystemDefaultCacheDuration, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelForRequired(m => m.SystemSestings.Cache.WebsiteCacheDuration)
                                    @Html.HelpButtonFor(m => m.SystemSestings.Cache.WebsiteCacheDuration, "m-form__heading-help-icon flaticon-info", "i", "right", "dark")
                                    <div>
                                        @Html.TextBoxFor(m => m.SystemSestings.Cache.WebsiteCacheDuration, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.SystemSestings.Cache.WebsiteCacheDuration) })
                                        @Html.ValidationMessageFor(m => m.SystemSestings.Cache.WebsiteCacheDuration, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-sm" type="submit">
                                <i class="fa fa-floppy-o"></i>
                                @ManagerResource.LB_SAVE
                            </button>
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
            <!--end::Portlet-->
        }

    </div>
</div>

