﻿@using Manager.WebApp.Resources

@model Manager.WebApp.Models.AccountChangePasswordViewModel

@{
    ViewBag.Title =ManagerResource.LB_CHANGE_PWD;
}

@Html.Partial("_Notifications")

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            
            <!--begin::Form-->
            @using (Html.BeginForm("ChangePassword", "MyAccount", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ValidationSummary", ViewData.ModelState)
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "form-control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-warning m-input" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "form-control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-warning m-input" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "form-control-label" })
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control form-control-warning m-input" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group m-form__group">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-download"></i> @ManagerResource.LB_SAVE
                        </button>
                        <a class="btn btn-secondary" href="@Url.Action("Profile", "MyAccount")"><i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL</a>
                    </div>
                </div>
            </div>                
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PagePluginStyles
{

}

@section PagePluginScripts
 {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}