﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims
@model Manager.WebApp.Models.UpdateUserProfileModel

@{ 
    ViewBag.Title = "Update profile";
}
@Html.Partial("_Notifications")

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">            
            <!--begin::Form-->
            @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ValidationSummary", ViewData.ModelState)
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            @Html.HiddenFor(m => m.UserId)
                            @Html.HiddenFor(m => m.UserName)
                            <h4>@Model.UserName</h4>
                        </div>                        
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            @Html.LabelFor(m => m.Avatar)
                            @{ Html.RenderPartial("_UpdateAvatarForm"); }
                        </div>                        
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-6">
                                <a class="btn btn-danger" href="@Url.Action("Profile", "Account")"><i class="la la-backward"></i> Go back</a>
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                            <div class="col-lg-6 m--align-right">
                                <button type="reset" class="btn btn-danger">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PagePluginScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var avatar = '@Model.Avatar';
            if (avatar !== '') {
                $('#avatar-result img').attr('src', '@Model.Avatar');
                $('#avatar-result').removeClass("hidden");
                $("#Avatar").val("@Model.Avatar");
            }
        });
    </script>
    <script src="~/Content/Extensions/Image/jquery.form.js"></script>
    <script src="~/Content/Extensions/Image/jquery.Jcrop.js"></script>
    <script src="~/Content/Extensions/Image/site.avatar.js"></script>
    <link href="~/Content/Extensions/Image/jquery.Jcrop.css" rel="stylesheet" />
    <link href="~/Content/Extensions/Image/site.avatar.css" rel="stylesheet" />
}