﻿@model Manager.WebApp.Models.CourseUpdateModel

@Html.Partial("_Notifications")

@{
    ViewBag.Title = "サブコース編集";
}

<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-edit text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("EditSub", "Course", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form" }))
            {
                @Html.Partial("_UpdateForm", Model)}
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>