﻿@model Manager.WebApp.Models.ManageCourseModel

@if (Model.CourseSubs != null && Model.CourseSubs.Count > 0)
{
    for (var i = 0; i < Model.CourseSubs.Count(); i++)
    {
<tr class="item-sub-@Model.CourseSubs[i].CourseId" style="background-color: #fff5df;">
    <td class="text-center"></td>
    <td>
        <span style="margin-left: 30px">+ @Model.CourseSubs[i].Name</span>
    </td>
    <td></td>
    <td class="text-center">
        <div class="dropdown">
            <a href="javascript;" class="btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @*<a class="dropdown-item btn m-btn m-btn--hover-warning" data-href="" data-modal="" data-size="default">
                    <i class="fa fa-eye"></i> Chi tiết
                </a>*@
                <a class="dropdown-item btn m-btn m-btn--hover-warning" href="@Url.Action("EditSub", "Course", new { id = @Model.CourseSubs[i].Id})" title="Sửa" data-size="default">
                    <i class="fa fa-pencil-square-o"></i> 編集
                </a>
                <a class="dropdown-item btn m-btn m-btn--hover-warning" href="javascript" data-href="@Url.Action("DeleteSub", "Course", new { id = @Model.CourseSubs[i].Id })" data-modal="" data-size="default">
                    <i class="la la-trash"></i> 削除
                </a>
            </div>
        </div>
    </td>
</tr>
    }
}