﻿@model Manager.WebApp.Models.AttendanceModel
@using Manager.WebApp.Resources
@using Manager.SharedLibs;

<table id="student_data" class="table m-table table-bordered m-table--border-metal">
    <thead>
        <tr>
            <th class="text-center" data-width="5" data-width-unit="%">#</th>
            <th class="text-center" data-width="15" data-width-unit="%">日付</th>
            <th class="text-center" data-width="30" data-width-unit="%">授業内容</th>
            <th class="text-center" data-width="30" data-width-unit="%">ノート</th>
            <th class="text-center" data-width="10" data-width-unit="%">出席</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListAttendance.HasData())
        {
            var stt = 0;
            foreach (var record in Model.ListAttendance)
            {
                stt++;
                <tr class="@(record.Status == 0 ? "unchecked-in" : string.Empty)">
                    <td class="text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                    <td class="text-center">@(record.StartTime.HasValue ? record.StartTime.Value.ToString("dd/MM/yyyy") : null)</td>
                    <td class="text-left">
                        <div class="text-read-more">
                            @Html.RawHtmlCustom(record.Comment)
                        </div>
                    </td>
                    <td class="text-left">
                        <div class="text-read-more">
                            @Html.RawHtmlCustom(record.Note)
                        </div>
                    </td>
                    <td class="text-center">
                        @*
                    <label class="m-checkbox m-checkbox--state-success">
                        <input type="checkbox"  @(record.Status == 1 ? "checked" : "")>
                        <span></span>
                    </label>*@

                        @if (record.Status == 1)
                        {
                            <span class="text-info"><i class="fa fa-check"></i></span>
                        }
                        else
                        {
                            <span class="text-danger"><i class="fa fa-close"></i></span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11">
                    @ManagerResource.LB_NO_RECORD
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    resizeTable();   
</script>