﻿@using Manager.SharedLibs;
@using Manager.WebApp.Resources
@model Manager.WebApp.Models.StudentUpdateModel

@Html.Partial("_Notifications")

@Html.Partial("../Widgets/Modals/_DefaultModal")

@{
    ViewBag.Title = "生徒情報詳細";
    var DateNow = DateTime.Now;

}
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-graduation-cap text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text text-uppercase">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset class="pb20">
                            <legend class="legend-ctrl">
                                基本情報 <i class="fa fa-angle-up"></i>
                            </legend>

                            <div class="fieldset-content" style="">
                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        氏名 :
                                    </div>
                                    <div class="col-md-9">
                                        @(Model.Name)
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        メールアドレス :
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Email
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        電話番号:
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Phone
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        住所:
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Address
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        生年月日:
                                    </div>
                                    <div class="col-md-9">
                                        @(Model.DateBirth.HasValue ? Model.DateBirth.Value.ToString("dd/MM/yyyy"): "")
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        性別:
                                    </div>
                                    <div class="col-md-9">
                                        @{
                                            var gender = string.Empty;

                                            if (Model.Gender == (int)EnumGender.Famale)
                                            {
                                                gender = "男";
                                            }
                                            if (Model.Gender == (int)EnumGender.Male)
                                            {
                                                gender = "女";
                                            }
                                        }
                                        @gender
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="m-separator m-separator--dashed m-separator"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table m-table table-bordered table-hover m-table--border-metal table-responsive-xl">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th class="text-center">クラス名</th>
                                    <th class="text-center" width="20%">時間</th>
                                    <th class="text-center" width="15%">スターテス</th>
                                    <th class="text-center" width="150">アクション</th>
                                </tr>
                            </thead>
                            <tbody class="text-nowrap">
                                @if (Model.ListClass.HasData())
                                {
                                    var stt = 0;
                                    foreach (var record in Model.ListClass)
                                    {
                                        stt++;

                                        <tr data-id="@record.Id" style="cursor:pointer">
                                            <td class="text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                                            <td>
                                                @record.Name
                                            </td>
                                            <td class="text-center">
                                                @(record.StartDate != null ? record.StartDate.Value.ToString("dd/MM/yyyy") : null)
                                                -
                                                @(record.EndDate != null ? record.EndDate.Value.ToString("dd/MM/yyyy") : null)
                                            </td>
                                            <td class="text-center">
                                                @if (record.StartDate != null && record.EndDate != null)
                                                {
                                                    if (record.StartDate > DateNow)
                                                    {
                                                        <span class="m-badge status-pending m-badge--wide m-badge--rounded p-md-1 btn-status">
                                                            未定
                                                        </span>
                                                    }
                                                    else if (record.StartDate <= DateNow && record.EndDate >= DateNow)
                                                    {
                                                        <span class="m-badge status-styding m-badge--wide m-badge--rounded p-md-1 btn-status">
                                                            進行中
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="m-badge status-finish m-badge--wide m-badge--rounded p-md-1 btn-status">
                                                            完了
                                                        </span>
                                                    }
                                                }
                                            </td>
                                            <td class="text-center">
                                                <a class="btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill btn-status-student" href="javascript" data-href="@Url.Action("GetStatusStudent", "Student", new { StudentId = Model.Id, ClassId = record.Id })" data-modal="" data-size="default">
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                            </td>
                                        </tr>

                                    }
                                }
                                else
                                {

                                    <tr>
                                        <td colspan="11">
                                            @ManagerResource.LB_NO_RECORD
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit m-form">
                <div class="m-form__actions">
                    <div class="row">
                        <div class="col-12 text-left">
                            <a href="@Url.Action("Edit", "Student", new { id = Model.Id })" class="btn btn-white btn-sm btn-warning">
                                <i class="fa fa-pencil-square-o"></i>
                                @ManagerResource.LB_EDIT
                            </a>
                            <a type="reset" class="btn btn-sm btn-secondary" href="@Url.Action("Index", "Student")">
                                <i class="fa fa-mail-reply"></i>
                                戻る
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PageInlineStyles
    {
    <style>
        .btn-status {
            width: 60px;
            font-weight: 700;
            border-radius: 5px !important;
        }

        .status-finish {
            background-color: rgb(255 112 112);
            color: #fff;
        }

        .status-pending {
            background-color: rgb(255 201 61);
            color: #fff;
        }

        .status-styding {
            background-color: rgb(85 198 191);
            color: #fff;
        }
    </style>
}

@section PageInlineScripts
 {
    <script>
        $(document).ready(function () {

            $('#pagesize').on('change', function () {
                $('#form-pagesize').submit();
            })

            $(document).on('click', 'tbody tr', function () {
                $(this).find('.btn-status-student').click();
            });

            $(document).on('click', '.btn-present', function () {
                var classId = $(this).data('classid');
                var studentId = $(this).data('studentid');
                var url = `/Student/GetStatusStudent?IsFilter=true&ClassId=${classId}&StudentId=${studentId}&Status=1`;

                $('.btn-reset').removeClass('hidden');

                GetStatusStudent(url);
            });

            $(document).on('click', '.btn-absent', function () {
                var classId = $(this).data('classid');
                var studentId = $(this).data('studentid');
                var url = `/Student/GetStatusStudent?IsFilter=true&ClassId=${classId}&StudentId=${studentId}&Status=0`;

                $('.btn-reset').removeClass('hidden');

                GetStatusStudent(url);
            });

            $(document).on('click', '.btn-reset', function () {
                var classId = $(this).data('classid');
                var studentId = $(this).data('studentid');
                var url = `/Student/GetStatusStudent?IsFilter=true&ClassId=${classId}&StudentId=${studentId}`;

                $('.btn-reset').addClass('hidden');

                GetStatusStudent(url);
            });

            function GetStatusStudent(url) {
                $.aGet(url, {}, function (result) {
                    $('#show-status-student').html(result);
                }, 'html');
            }

            $('#myModal').on('shown.bs.modal', function (e) {
                resizeTable();
            })
        });

        function resizeTable() {
            if (!isMobile) {
                var columns = [];
                var data = [];
                var tblHeight = $("#student_data").height();
                var maxHeight = 600;
                if (tblHeight < 600) {
                    maxHeight = undefined;
                }
                $("#student_data").bootstrapTable('destroy').bootstrapTable({
                    height: maxHeight,
                    columns: columns,
                    data: data,
                    toolbar: '.toolbar',
                    search: false,
                    showColumns: true,
                    showToggle: true,
                    clickToSelect: true,
                    fixedColumns: true,
                    fixedNumber: 2,
                    fixedRightNumber: 1,
                    //stickyHeader: true
                })
            }
        }
    </script>
}