﻿@using ApiJobMarket.DB.Sql.Entities
@using Manager.SharedLibs
@using Manager.WebApp.Resources
@using Manager.WebApp.Caching
@model List<IdentityField>

@{
    var hasData = Model.HasData();
    var currentLang = UserCookieManager.GetCurrentLanguageOrDefault();
}

<option value="0">@ManagerResource.LB_SELECT_SUB_FIELD</option>
@if (hasData)
{
    var count = 0;
    foreach (var field in Model)
    {
        if (field.Sub_fields.HasData())
        {
            var fieldName = field.LangList.Where(x => x.language_code == currentLang).Select(x => x.field).FirstOrDefault();
            if (string.IsNullOrEmpty(fieldName))
            {
                fieldName = field.field;
            }

            <optgroup label="@fieldName">
                @{ var subCount = 0; }
                @foreach (var sub in field.Sub_fields)
                {
                    var subName = sub.LangList.Where(x => x.language_code == currentLang).Select(x => x.sub_field).FirstOrDefault();
                    if (string.IsNullOrEmpty(subName))
                    {
                        subName = sub.sub_field;
                    }

                    <option value="@sub.id" @(count == 0 && subCount == 0 ? "selected" : string.Empty)>
                        @subName
                    </option>

                    subCount++;
                }
            </optgroup>
        }
        count++;
    }
}