﻿@using Manager.WebApp.Resources
@using Manager.SharedLibs
@model Manager.WebApp.Models.AdminProfileModel

@Html.AntiForgeryToken()

@{
}
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            @using (Html.BeginForm("Update", "AdminProfile", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form" }))
            {
                @Html.HiddenFor(m=>m.ApiId)
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-4">
                        <label>会社名</label><span class="text-danger"> *</span>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4">
                        <label>電話番号</label><span class="text-danger"> *</span>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="col-lg-4">
                        @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>*@
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-lg-4">
                        @Html.LabelFor(m => m.Fax, new { @class = "form-control-label" })
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Fax, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-lg-4">
                        <label>郵便番号</label>
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-lg-8">
                        <label>住所</label><span class="text-danger"> *</span>
                        @Html.TextBoxFor(m => m.CityAddress, new { @class = "form-control", rows = 1 })
                        @Html.ValidationMessageFor(m => m.CityAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-8">
                        <label>建物名</label><span class="text-danger"> *</span>
                        @Html.TextBoxFor(m => m.DetailAddress, new { @class = "form-control", rows = 1 })
                        @Html.ValidationMessageFor(m => m.DetailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-info btn-sm">
                            <i class="fa fa-floppy-o"></i> @ManagerResource.LB_SAVE
                        </button>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>
