﻿@using Manager.WebApp.Resources;
@using Manager.SharedLibs
@*@using Manager.DataLayer.Entities*@
@model Manager.WebApp.Models.ManageBankAccountModel

@*@Html.Partial("../Widgets/Modals/_LargeModal")*@

@if (string.IsNullOrEmpty(Model.SearchExec))
{
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="dynamic-table">
                @RenderList()
            </div>

        </div>
    </div>
}
else
{
    <div class="dynamic-table">
        @RenderList()
    </div>
}

@helper RenderList()
{
    //var canCreateCustomerStore = PermissionHelper.CheckPermission("CreateCustomerStore", "Customer");
    //var canEditCustomerStore = PermissionHelper.CheckPermission("EditCustomerStore", "Customer");
    //var canDeleteCustomerStore = PermissionHelper.CheckPermission("DeleteCustomerStore", "Customer");

    <div class="row">
        <div class="col-lg-12 text-right">

            <a href="javascript:;" data-href="/AdminProfile/CreateBankAccount" class="btn btn-info btn-sm" data-current="" id="btnCreateBankAccount" data-control="" data-modal="">
                <i class="fa fa-plus"></i> @ManagerResource.BT_ADD
            </a>

        </div>
    </div>

    <div class="row mt10">
        <div class="col-md-12 table-responsive-sm table-responsive-xl">
            <table class="table table-responsive-sm table-responsive-xl table-hover table-bordered">
                <thead>
                    <tr class="tr-class-1">
                        <th></th>
                        <th class="text-center">銀行口座</th>
                        <th class="text-center">銀行支店名</th>
                        <th class="text-center">口座種別</th>
                        <th class="text-center">口座番号</th>
                        <th class="text-center">口座名義</th>
                        <th class="action-4 text-center">@ManagerResource.LB_ACTION</th>
                    </tr>
                </thead>
                <tbody class="">
                    @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                    {
                        var stt = 0;
                        foreach (var record in Model.SearchResults)
                        {
                            stt++;
                            <tr>
                                <td width="5%" id="td-id-@stt" class="td-class-@stt text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                                <td>
                                    <span class="">@record.Name</span>
                                </td>
                                <td>
                                    <span class="">@record.Bank</span>
                                </td>
                                <td>
                                    <span class="">@record.TypeName</span>
                                </td>
                                <td>
                                    <span class="">@record.Number</span>
                                </td>
                                <td>
                                    <span class="">@record.Owner</span>
                                </td>
                                <td class="text-center">
                                    <input type="hidden" id="hdName_@record.Id" value="@record.Id" />
                                    <a href="javascript:;" data-href="@Url.Action("EditBankAccount", "AdminProfile", new { id = record.Id })" class="btn m-btn btn-sm m-btn--icon m-btn--icon-only m-btn--hover-info m-btn--pill" data-current="" id="btnCustomerStore" data-control="CustomerCustomerStore" data-modal="">
                                        <i class="la la-pencil"></i>
                                    </a>
                                    <a class="btn m-btn btn-sm m-btn--icon m-btn--icon-only m-btn--hover-danger m-btn--pill" href="javascript:;" data-size="default" data-href="@Url.Action("DeleteBankAccount", "MyAccount", new { id = record.Id })" data-modal="" title="@ManagerResource.LB_DELETE">
                                        <i class="la la-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-left" colspan="25">
                                @ManagerResource.LB_NO_RECORD
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="m-section col-md-12">
            @RenderPaging()
        </div>
    </div>
}

@helper RenderPaging()
{
    <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            @if (Model.WasOverRecordsInPage())
            {
                @Html.BootstrapPager(Model.CurrentPage, index => "javascript:;", Model.TotalCount, pageSize: Model.PageSize, numberOfLinks: 10, onclickEvent: "BankAccountGlobal.GetBankAccountList")
            }

            @if (Model.TotalCount > 0)
            {
                <div class="m-datatable__pager-info">
                    <span class="m-datatable__pager-detail">
                        @ManagerResource.LB_RECORDS_ALL @Model.TotalCount @ManagerResource.LB_RECORDS @Model.StartCount() 〜 @Model.EndCount(Model.SearchResults.Count()) @ManagerResource.LB_RECORDS_DISPLAY
                    </span>
                </div>
            }
        </div>
    </div>
}