﻿@using Manager.WebApp.Resources
@using Manager.SharedLibs
@using Manager.WebApp.Caching
@model Manager.WebApp.Models.ManageAdminProfileModel

@Html.Partial("_Notifications")
@Html.Partial("../Widgets/Modals/_LargeModal")

<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                <i class="flaticon-share m--hide"></i>
                                @ManagerResource.LB_INFORMATION
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link bankAccountTab" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                銀行口座
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_1">
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="row" style="padding:20px;padding-top:0">
                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        会社名
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Name
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        @ManagerResource.LB_PHONE
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Phone
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        @ManagerResource.LB_FAX
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Fax
                                    </div>
                                </div>

                                @*<div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        @ManagerResource.LB_EMAIL
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Email
                                    </div>
                                </div>*@

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        住所
                                    </div>
                                    <div class="col-md-9">
                                        @Model.CityAddress
                                    </div>
                                </div>
                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        建物名
                                    </div>
                                    <div class="col-md-9">
                                        @Model.DetailAddress
                                    </div>
                                </div>

                                <div class="row info-item">
                                    <div class="col-md-3 info-label">
                                        @ManagerResource.LB_POSTAL_CODE
                                    </div>
                                    <div class="col-md-9">
                                        @Model.PostalCode
                                    </div>
                                </div>

                                <div class="row mt20">
                                    <div class="col-md-12">
                                        @if (PermissionHelper.CheckPermission("Index", "Product"))
                                        {
                                            <a class="btn btn-warning btn-sm mr-auto" href="/AdminProfile/Update"> <i class="fa fa-pencil"></i>&nbsp;@ManagerResource.LB_EDIT</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane show" id="m_user_profile_tab_3" role="tabpanel">
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <form id="frmBankAccountList"></form>
                            <div class="m-widget1 nopadding" id="BankAccountList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section PageInlineStyles{

}

@section PagePluginStyles
{

}

@section PageInlineScripts{

}

@section PagePluginScripts{

    <script>
        var BankAccountGlobal = {
            BankAccountPageIdx: 1,
            GetBankAccountList: function (idx, searchExec = "") {
                var ctn = $("#BankAccountList");
                var myTable = ctn.find(".dynamic-table");
                BankAccountGlobal.BankAccountPageIdx = idx;
                if (searchExec === "") {
                    ctn.html("");
                    ctn.areaLoading();
                } else {
                    myTable.html("");
                    myTable.areaLoading();
                }

                var frmData = $("#frmBankAccountList").serializeArray();
                frmData.push({ name: 'Page', value: idx });
                frmData.push({ name: 'SearchExec', value: searchExec });

                $.aPost("/AdminProfile/GetBankAccountList", frmData, function (result) {
                    if (result) {
                        if (searchExec === "Y") {
                            myTable.html(result);
                        } else {
                            ctn.html(result);
                        }

                        changeLocalTimezone();
                    }
                }, "html");
            },
        };

        $("body").on("click", ".bankAccountTab", function () {
            var ctn = $("#BankAccountList");
            if (!ctn.hasClass("loaded")) {
                ctn.addClass("loaded");

                BankAccountGlobal.GetBankAccountList(1);
            }
        });

        function loadBankAccountList() {
            var ctn = $("#BankAccountList");
            if (ctn.hasClass("loaded")) {
                ctn.removeClass("loaded");
                BankAccountGlobal.GetBankAccountList(1);
                ctn.addClass("loaded");
            }
        }
    </script>

}
