﻿@using Manager.WebApp.Resources
@model Manager.WebApp.Models.ProviderUpdateModel

@Html.AntiForgeryToken()

<div class="m-portlet__body">
    <div class="form-group m-form__group row">
        <div class="col-lg-3">
            <label class="form-control-label">Code</label>
            <input type="text" name="Code" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Code" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-control-label">Name</label>
            <input type="text" name="Name" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-control-label">Address</label>
            <input type="text" name="Address" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-control-label">Country</label>
            <input type="number" name="CountryId" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="CountryId" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-3">
            <label class="form-control-label">Email</label>
            <input type="email" name="Email" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="email" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-control-label">Phone</label>
            <input type="number" name="Phone" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-control-label">Surrogate</label>
            <input type="text" name="Surrogate" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Surrogate" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-3">
            <label class="form-control-label">Lat</label>
            <input type="text" name="Lat" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Lat" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-6">
            <label class="form-control-label">Long</label>
            <input type="text" name="Long" class="form-control" />
            <span class="field-validation-valid text-danger" data-valmsg-for="Long" data-valmsg-replace="true"></span>
        </div>
        <div class="col-lg-6">
            <label></label>
            <div class="m-checkbox-inline">
                <label class="m-checkbox">
                    <input name="@Html.NameFor(m => m.Status)" @(Model.Status == 1 ? "checked" : string.Empty) value="1" type="checkbox">
                    @ManagerResource.LB_ACTIVE
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-6">
            <button type="submit" class="btn btn-info btn-sm">
                <i class="fa fa-floppy-o"></i> @ManagerResource.LB_SAVE
            </button>
            <a class="btn btn-outline-info btn-sm" href="@Url.Action("Index", "Provider")"><i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL</a>
        </div>
    </div>
</div>