﻿@model Manager.WebApp.Models.ClassStudentUpdateModel

@{
    ViewBag.title = "生徒リスト";
}


<style>
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
</style>

<div id="list-student">
    <div class="modal-header">
        <h5 class="modal-title" id="">
            @ViewBag.title
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>

    <form method="post" id="form-insert-student" action="/Class/InsertStudent">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.ClassId" id="ClassId" name="ClassId" />
        <input type="hidden" value="" id="ListStudentId" name="ListStudentId" />
    </form>

    <div class="modal-body">
        <div class="m-section__content" id="list-student-content">
            @Html.Partial("_ListStudentsContent")
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm submit-form">
            <i class="fa fa-save"></i> 保存
        </button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <i class="fa fa-remove"></i> キャンセル
        </button>
    </div>
</div>

