﻿@using Manager.WebApp.Resources;
@using Manager.SharedLibs;
@model Manager.WebApp.Models.ClassScheduleUpdateModel

@{
    var StartDate = Model.StartTime.HasValue ? Model.StartTime.Value.ToString("yyyy/MM/dd") : null;
    var EndDate = Model.EndTime.HasValue ? Model.EndTime.Value.ToString("yyyy/MM/dd") : null;
    var StartTime = Model.StartTime.HasValue ? Model.StartTime.Value.ToString("HH:mm") : null;
    var EndTime = Model.EndTime.HasValue ? Model.EndTime.Value.ToString("HH:mm") : null;

    var ListTeachers = HelperTeacher.GetList();
    ViewBag.Title = Model.Name;
}

<style>
    .modal {
        padding: 0 !important;
    }

    .modal-dialog {
        width: 100% !important;
        max-width: none !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .modal-content {
        height: 100vh !important;
        border: 0 !important;
        border-radius: 0 !important;
    }

    .modal-body {
        max-height: calc(100vh - 110px);
        overflow-y: auto !important;
    }

</style>

<div class="modal-header">
    <h5 class="modal-title text-center w-100 text-uppercase font-weight-bold text-info">
        @ViewBag.Title
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>

@using (Html.BeginForm("EditClassDaySchedule", "Class", FormMethod.Post, new { role = "form", id="form-edit-day"}))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ClassId" value="@Model.ClassId" />
    <input type="hidden" name="StartDate" value="@StartDate" />
    <input type="hidden" name="EndDate" value="@EndDate" />

    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>先生</label>
                        <select class="form-control details-day" name="TeacherId" disabled>
                            @if (ListTeachers.HasData())
                            {
                                foreach (var record in ListTeachers)
                                {
                                    <option value="@record.Id" @(Model.TeacherId == record.Id ? "selected" : "")>@record.Name</option>
                                }
                            }
                        </select>
                        <select class="form-control edit-day hidden" name="TeacherId">
                            @if (ListTeachers.HasData())
                            {
                                foreach (var record in ListTeachers)
                                {
                                    <option value="@record.Id" @(Model.TeacherId == record.Id ? "selected" : "")>@record.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>授業開始</label>
                        <input type="time" class="form-control details-day" value="@StartTime" name="OpenTime" disabled/>
                        <input type="time" class="form-control edit-day hidden" value="@StartTime" name="OpenTime"/>
                    </div>
                    <div class="col-md-4">
                        <label>授業終了</label>
                        <input type="time" class="form-control details-day" value="@EndTime" name="CloseTime" disabled/>
                        <input type="time" class="form-control edit-day hidden" value="@EndTime" name="CloseTime" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>授業内容</label>
                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control details-day", rows = "4", disabled= "disabled"})
                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control edit-day hidden comment", rows = "4" })
            </div>
            <div class="col-md-4">
                <label>ノート</label>
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control details-day", rows = "4", disabled = "disabled", @id="" })
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control edit-day hidden note", rows = "4",})
            </div>
            <div class="col-md-4 d-flex align-items-center edit-day hidden">
                <button type="button" class="btn btn-info btn-sm btn-replace" title="Apply for selected students">
                    <i class="fa fa-exchange"></i>
                    すべてに上書き
                </button>
            </div>
        </div>
        <div class="m-separator m-separator--dashed m-separator"></div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="tb-edit-day" class="table m-table table-bordered table-hover m-table--border-metal">
                    <thead>
                        <tr>
                            <th class="text-center edit-day hidden" data-width="5" data-width-unit="%">
                                <label class="m-checkbox m-checkbox--state-success select-student">
                                    <input type="checkbox" class="check-all-replace">
                                    <span></span>
                                </label>
                            </th>
                            <th class="text-center" data-width="5" data-width-unit="%">#</th>
                            <th class="text-center">生徒名</th>
                            <th class="text-center">授業内容</th>
                            <th class="text-center">ノード</th>
                            <th class="text-center" data-width="5" data-width-unit="%">出席</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                        {
                            var stt = 0;
                            foreach (var record in Model.SearchResults)
                            {
                                stt++;

                                <tr class="rpt-item-container">
                                    <td class="text-center edit-day hidden">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" class="check-replace">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td class="text-center">@(stt + (Model.CurrentPage - 1) * Model.PageSize) </td>
                                    <td>
                                        @record.Name
                                        <input type="hidden" name="ListAttendances[@(stt - 1)][StudentId]" value="@record.Id" />
                                        <input type="hidden" name="ListAttendances[@(stt - 1)][ClassScheduleId]" value="@Model.Id" />
                                    </td>
                                    <td>
                                        <textarea name="ListAttendances[@(stt - 1)][Comment]" class="form-control std-comment details-day" rows="3" disabled>@record.Comment</textarea>
                                        <textarea name="ListAttendances[@(stt - 1)][Comment]" class="form-control std-comment edit-day hidden" rows="3">@record.Comment</textarea>
                                    </td>
                                    <td>
                                        <textarea name="ListAttendances[@(stt - 1)][Note]" class="form-control std-note details-day" rows="3" disabled>@record.Note</textarea>
                                        <textarea name="ListAttendances[@(stt - 1)][Note]" class="form-control std-note edit-day hidden" rows="3">@record.Note</textarea>
                                    </td>
                                    <td class="text-center">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" class="check-attend" data-id="@record.Id" name="ListAttendances[@(stt - 1)][Status]" value="1" @(record.Attendance == 1 ? "checked" : "")>
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="11">
                                    @ManagerResource.LB_NO_RECORD
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm btn-edit-day">
            <i class="fa fa-pencil-square-o"></i> @ManagerResource.LB_EDIT
        </button>
        <button type="submit" class="btn btn-info btn-sm">
            <i class="fa fa-save"></i> @ManagerResource.LB_SAVE
        </button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <i class="fa fa-remove"></i> @ManagerResource.LB_CANCEL
        </button>
    </div>
}