﻿@using Manager.WebApp.Resources;
@model Manager.WebApp.Models.ManageClassModel

<style>
    .tooltip-inner {
        display: none;
    }
</style>

<form action="/Class" method="get" class="m-form m-form--fit">
    <div class="m-portlet__body">
        <div class="form-group row">
            <div class="col-md-6">
                <input type="hidden" name="PageSize" value="@Model.PageSize" />
                @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control form-control-sm m-input", placeholder = ManagerResource.LB_INPUT_KEYWORD_TO_SEARCH })
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i> @ManagerResource.LB_SEARCH
                </button>
            </div>
        </div>
    </div>
</form>