﻿@using Manager.DataLayer.Entities
@using Manager.SharedLibs
@using Manager.WebApp.Resources;
@model Manager.WebApp.Models.ClassUpdateModel

@Html.AntiForgeryToken()

@{
    var StartDate = Model.StartDate != null ? Model.StartDate.Value.ToString("yyyy-MM-dd") : null;
    var EndDate = Model.EndDate != null ? Model.EndDate.Value.ToString("yyyy-MM-dd") : null;
    var hasTeacherDuplicate = Model.TeacherDuplicate.HasData() && Model.TeacherDuplicate.Count() > 0 ? true : false;

    var listDaysOfWeeks = HelperDaysOfWeek.GetList();
    var ListTeachers = HelperTeacher.GetList();
    var ListCourses = HelperCourse.GetList();
}

<div class="m-portlet__body">
    <div class="form-group m-form__group row">
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                クラス名: <span class="m--font-danger"> * </span>:
            </label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control m-input", placeholder = "クラス名を入力してください..." })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            <span class="text-danger msg-name hidden">必須項目です。</span>
        </div>
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                コース <span class="m--font-danger"> * </span>:
            </label>
            <select id="course" class="form-control select2" name="CourseId">
                <option value="">選んでください</option>
                @if (ListCourses != null && ListCourses.Count() > 0)
                {
                    foreach (var record in ListCourses)
                    {
                        <option value="@record.Id" @(Model.CourseId == record.Id ? "selected" : "" )>@record.Name</option>
                    }
                }
            </select>
            <span class="text-danger msg-course hidden">必須項目です。</span>
        </div>

        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                サブコース:
            </label>
            <select id="course-sub" class="form-control select2" name="CourseSubId" disabled="disabled">
                <option value="">選んでください</option>
            </select>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-xl-4 col-sm-6">
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-control-label">
                        開始日 <span class="m--font-danger"> * </span>:
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @type = "date", Value = StartDate })
                            <span class="text-danger msg-startdate hidden">必須項目です。</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-control-label">
                        終了日 <span class="m--font-danger"> * </span>:
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @type = "date", Value = EndDate })
                            <span class="text-danger msg-enddate hidden">必須項目です。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6">
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-control-label">
                        開始時間 <span class="m--font-danger"> * </span>:
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.OpenTime, new { @class = "form-control", @type = "text", id = "OpenTime" })
                            <span class="text-danger msg-opentime hidden">必須項目です。</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-control-label">
                        終了時間 <span class="m--font-danger"> * </span>:
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.CloseTime, new { @class = "form-control", @type = "text", id = "CloseTime" })
                            <span class="text-danger msg-closetime hidden">必須項目です。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6">
            <label class="form-control-label">
                曜日 <span class="m--font-danger"> * </span>:
            </label>
            <select id="Day" name="ListWeekdays[]" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" multiple="">
                @if (listDaysOfWeeks.HasData())
                {
                    if (Model.ListWeekdays != null && Model.ListWeekdays.Count > 0)
                    {
                        foreach (var day in listDaysOfWeeks)
                        {
                            var sl = Model.ListWeekdays.Contains(day.Value) ? "selected" : "";
                            <option value="@(day.Value)" @sl>
                                @day.Name
                            </option>
                        }
                    }
                    else
                    {
                        foreach (var day in listDaysOfWeeks)
                        {
                            <option value="@(day.Value)">
                                @day.Name
                            </option>
                        }
                    }
                }
            </select>
            <span class="text-danger msg-day hidden">必須項目です。</span>
        </div>
        <div class="col-lg-12">
            <div class="m-separator m-separator--dashed"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset mt15">
                <legend><b>先生</b></legend>
                <div class="row">
                    <div class="col-md-12 table-responsive" id="list-teachers">
                        <div class="m-separator m-separator--dashed"></div>
                        <table class="table m-table table-bordered m-table--border-metal">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>
                                        先生名
                                    </th>
                                    <th width="20%">開始日</th>
                                    <th width="20%">終了日</th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>

                            <tbody data-repeater-list="ClassTeachers" id="ClassTeacher">
                                @if (Model.ClassTeachers != null && Model.ClassTeachers.Count > 0)
                                {
                                    var idx = 0;
                                    foreach (var item in Model.ClassTeachers)
                                    {

                                        var StartTeachingDate = item.StartTeachingDate.HasValue ? item.StartTeachingDate.Value.ToString("yyyy-MM-dd") : null;
                                        var EndTeachingDate = item.EndTeachingDate.HasValue ? item.EndTeachingDate.Value.ToString("yyyy-MM-dd") : null;
                                        bool isDuplicate = hasTeacherDuplicate && Model.TeacherDuplicate.Contains(item.TeacherId) ? true : false;

                                        <tr data-repeater-item="" class="rpt-item-container @(isDuplicate ? "valid-duplicate" : "") " data-idx="@idx">
                                            <td>
                                                <input type="hidden" value="@item.Id" name="Id" />
                                                <input type="hidden" value="@item.ClassId" name="ClassId" />

                                                <select class="form-control mt-2 mb-2 teacher-id select2" name="TeacherId">
                                                    <option value="" selected>選んでください</option>
                                                    @if (ListTeachers != null && ListTeachers.Count() > 0)
                                                    {
                                                        foreach (var record in ListTeachers)
                                                        {
                                                            <option value="@record.Id" @(item.TeacherId == record.Id ? "selected" : "" )>@record.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="date" class="form-control start-teaching-date" name="StartTeachingDate" value="@StartTeachingDate" />
                                            </td>
                                            <td>
                                                <input type="date" class="form-control end-teaching-date " name="EndTeachingDate" value="@EndTeachingDate" />
                                            </td>
                                            <td class="text-center">
                                                <a data-repeater-delete="" href="javascript:;" class="text-danger btn-repeater-remove" title="削除">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        idx++;
                                    }
                                }
                                else
                                {
                                    <tr data-repeater-item="" class="rpt-item-container" data-idx="0">
                                        <td>
                                            <select class="form-control mt-2 mb-2 teacher-id select2" name="TeacherId">
                                                <option value="" selected>選んでください</option>
                                                @if (ListTeachers != null && ListTeachers.Count() > 0)
                                                {
                                                    foreach (var record in ListTeachers)
                                                    {
                                                        <option value="@record.Id">@record.Name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="date" class="form-control start-teaching-date" name="StartTeachingDate" />
                                        </td>
                                        <td>
                                            <input type="date" class="form-control end-teaching-date" name="EndTeachingDate" />
                                        </td>
                                        <td class="text-center">
                                            <a data-repeater-delete="" href="javascript:;" class="text-danger btn-repeater-remove" title="削除">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <a data-repeater-create="" class="btn btn-sm btn-info btn-add-teacher" href="javascript:;" style="padding: 2px 10px;">
                                            <i class="la la-plus"></i>
                                            <span>
                                                @ManagerResource.BT_ADD
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="m-separator m-separator--dashed"></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <div class="row">
            <div class="col-12 text-left">
                <button type="submit" class="btn btn-sm btn-info">
                    <i class="fa fa-check"></i>
                    @ManagerResource.LB_SAVE
                </button>
                <a type="reset" class="btn btn-sm btn-secondary" href="@Url.Action("Index", "Class")">
                    <i class="fa fa-mail-reply"></i>
                    @ManagerResource.BT_CANCEL
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .valid-duplicate {
        border: 2px solid red !important;
    }
</style>