﻿@model Manager.WebApp.Models.ClassUpdateModel

@{
    ViewBag.Title = "クラス追加";
}

@Html.Partial("_Notifications")
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-plus text-info"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            @ViewBag.Title
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Create", "Class", FormMethod.Post, new { @class = "m-form m-form--fit", role = "form", id = "form-class" }))
            {
                @Html.Partial("_UpdateForm", Model)
            }
        </div>
        <!--end::Portlet-->
    </div>
</div>

@section PageInlineStyles{
    
   
}

@section PagePluginScripts{
    <script src="~/Scripts/Plugins/Datepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/Class/create.js"></script>
    <script src="~/Scripts/select2.js"></script>
}

@section PageInlineScripts
 {
    <script>
        $(document).ready(function () {
            $(".timepicker").DateTimePicker();

            $("#list-teachers").repeater({
                initEmpty: !1,
                show: function () {
                    $(this).show();

                    var idx = 0;
                    $(".rpt-item-container").each(function () {
                        $(this).attr("data-idx", idx);
                        idx++;
                    });
                },
                hide: function (e) {
                    $(this).fadeOut(e);
                    setTimeout(function () {
                        $(this).remove();

                        var idx = 0;
                        $(".rpt-item-container").each(function () {
                            $(this).attr("data-idx", idx);
                            idx++;
                        });
                    }, 500);
                }
            });
        })
    </script>
}