﻿@using Manager.WebApp.Resources
@using Manager.WebApp.Caching
@using Manager.SharedLibs

@using Manager.DataLayer

@{
    var siteName = WebContext.GetSiteSettings().General.SiteName;
    if (string.IsNullOrEmpty(siteName))
    {
        siteName = "Admin";
    }
}
<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark " style="padding:0">
                <div class="m-stack m-stack--ver m-stack--general text-center">
                     <div class="m-stack__item m-stack__item--middle m-brand__logo m--hidden-tablet-and-mobile" style="width:unset !important;">
                        <a href="/" class="m-brand__logo-wrapper main-color text-center ml20" style="text-decoration:none;">
                            <img class="img-responsive" src="/Content/images/logo.png" style="object-fit:cover;width:11em;">
                            @*<h4 style="float: left;margin-top: 20px;margin-left: 10px;">
                                    @siteName
                                </h4>*@
                        </a>
                    </div>

                    <div class="m-stack__item m-stack__item--middle m-brand__logo m--visible-tablet-and-mobile">
                        <a href="/" class="m-brand__logo-wrapper main-color" style="text-decoration:none;">
                            <div class="m--icon-font-size-lg1 m--hidden-desktop m--visible-tablet-and-mobile">
                                @*<i class="fa fa-globe m--icon-font-size-lg1"></i> @WebContext.GetSiteSettings().General.SiteName*@
                                <div class="m--icon-font-size-lg1" style="background-color: #FFF;">
                                    <img class="img-responsive" src="/Content/images/logo.png" style="object-fit:cover;float: left;margin-top: 4px;width:11em;">
                                    @*<h4 style="float: left;margin-top: 20px;margin-left: 10px;">
                                    @siteName
                                </h4>*@
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Left Aside Minimize Toggle -->
                        <a style="width:20px;margin-left:10px" href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block" title="@ManagerResource.LB_COLLAPSE">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->

            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                    @*@if (Request.IsAuthenticated)
                {
                    @RenderNavList()
                }*@

                </div>
                <!-- END: Horizontal Menu -->
                <!-- BEGIN: Topbar -->
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    @RenderLoggedInMenu()
                </div>
                <!-- END: Topbar -->
            </div>

        </div>
    </div>
</header>

@helper RenderNavList()
{
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
        @{
            var menuItems = ViewBag.AdminNavMenu as IEnumerable<IdentityMenu>;
            if (menuItems != null && menuItems.Count() > 0)
            {
                menuItems = MenuHelper.GetCurrentListMenuByLang(menuItems.ToList());
            }
        }
        @if (menuItems != null)
        {
            foreach (var mi in menuItems)
            {
                if (mi.Visible && (mi.HasChildren || (!string.IsNullOrEmpty(mi.Action) && !string.IsNullOrEmpty(mi.Controller)))
                    )
                {
                    @RenderTopMenuItem(mi);
                }
            }
        }        
    </ul>
}

@helper RenderLoggedInMenu()
{

    var langList = LanguagesProvider.GetListLanguages();
    var currentLang = UserCookieManager.GetCurrentLanguageOrDefault();


    <div class="m-stack__item m-topbar__nav-wrapper">
        <ul class="m-topbar__nav m-nav m-nav--inline">
            @if (langList.HasData())
            {
                var currentLangInfo = langList.FirstOrDefault(s => s.LanguageCultureName == currentLang);

                if (currentLangInfo != null)
                {
                    <li class="m-nav__item m-nav__item--accent m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1" aria-expanded="true">
                        <a href="#" class="m-nav__link m-dropdown__toggle">
                            <span class="m-nav__link-icon">
                                <span class="m-nav__link-icon-wrapper" title="@currentLangInfo.LanguageFullName">
                                    <img class="image-lang" src="~/Content/images/flags/@(currentLangInfo.LanguageCultureName).png" />
                                </span>
                            </span>
                        </a>
                        <div class="m-dropdown__wrapper dropdown-custom">
                            <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-menu__subnav">

                                            @foreach (var item in langList)
                                            {
                                                <li class="m-menu__item @((currentLang == item.LanguageCultureName) ? "m-menu__item--active" : string.Empty)" aria-haspopup="true">
                                                    <a href="~/home/changelanguage?lang=@item.LanguageCultureName" class="m-menu__link " style="display:flex">
                                                        <div class="m-menu__link-icon" style="width:30px">
                                                            <img class="image-lang" src="~/Content/images/flags/@(item.LanguageCultureName).png" />
                                                        </div>
                                                        <span class="m-menu__link-text" style="padding-left:10px">
                                                            @{ 
                                                                var array = item.LanguageCultureName.Split('-');
                                                                if (array.Length == 2)
                                                                {
                                                                    @array[1];
                                                                }
                                                            }
                                                        </span>
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }            
            @*<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
                @if (Request.IsAuthenticated) {
                    @Html.Partial("_LoginPartial")
                }
            </li>*@           
        </ul>
    </div>
}

@helper RenderTopMenuItem(IdentityMenu mi)
{
    var cssParent = mi.HasVisbleChildren ? "m-menu__item--submenu" : "";
    var cssLink = mi.HasVisbleChildren ? "m-menu__toggle" : "";
    var cssOpen = MenuHelper.CheckCurrentGroupCustom(mi) ? "m-menu__item--open" : "";
    var itemUrl = !string.IsNullOrEmpty(mi.Action) && !string.IsNullOrEmpty(mi.Controller) ?
                        Url.Action(mi.Action, mi.Controller) : "javascript:;";

    var cssActive = MenuHelper.CheckCurrentGroupCustom(mi) ? "m-menu__item--active" : "";

    <li class="m-menu__item  @cssParent @cssOpen @cssActive m-menu__item--rel" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
        <a href="@itemUrl" class="m-menu__link @cssLink">
            <i class="m-menu__link-icon @mi.IconCss"></i>
            <span class="m-menu__link-title">
                <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                        @mi.CurrentTitleLang
                    </span>
                    @*<span class="m-menu__link-badge">
                            <span class="m-badge m-badge--brand m-badge--wide">
                                new
                            </span>
                        </span>*@
                </span>
            </span>
            @if (mi.HasVisbleChildren)
            {
                <i class="m-menu__hor-arrow la la-angle-down"></i>
            }
            @*<i class="m-menu__ver-arrow la la-angle-right"></i>*@
        </a>
        @if (mi.HasVisbleChildren)
        {
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    @foreach (var smi in mi.SubMenu)
                    {
                        if (smi.Visible)
                        {
                            @RenderSubMenuItem(smi);
                        }
                    }
                </ul>
            </div>
        }
    </li>
}

@helper RenderSubMenuItem(IdentityMenu mi)
{
    var cssParent = MenuHelper.CheckCurrentActionCustom(mi) ? "m-menu__item--active" : "";

    var cssLink = mi.HasVisbleChildren ? "m-menu__toggle" : "";

    var itemUrl = !string.IsNullOrEmpty(mi.Action) && !string.IsNullOrEmpty(mi.Controller) ? Url.Action(mi.Action, mi.Controller) : "javascript:;";

    <li class="m-menu__item @cssParent" m-menu-link-redirect="1" aria-haspopup="true">
        <a href="@itemUrl" class="m-menu__link @cssLink" title="@mi.FullDesc">
            @if (!string.IsNullOrEmpty(mi.IconCss))
            {
                <i class="m-menu__link-icon @mi.IconCss"></i>
            }
            else
            {
                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
            }

            <span class="m-menu__link-text">
                @mi.CurrentTitleLang
            </span>
            @if (mi.HasVisbleChildren)
            {
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            }
        </a>
        @if (mi.HasVisbleChildren)
        {
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    @foreach (var smi in mi.SubMenu)
                    {
                        if (smi.Visible)
                        {
                            @RenderSubMenuItem(smi);
                        }
                    }
                </ul>
            </div>
        }
    </li>
}
