﻿@*<div class="modal fade" id="fileModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg"  style="max-width: 1024px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    File select
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>

            <div class="modal-body" id="fileModalBody">
            </div>
        </div>
    </div>
</div>*@

